@charset "utf-8";
@import url('iconfont/newfont/style.css');
@import url('iconfont/intaefont/style.css');


/*================================================================================*/
/* Common */
/*================================================================================*/

.bored{border:1px solid red}
b, .bold{font-weight:var(--bold) !important;}
i{font-style:normal;}
.none{display:none !important;}
.noborder{border:none !important;}
.tcenter{text-align:center !important;} .tleft{text-align:left !important;} .tright{text-align:right !important;} .fcenter{margin:0 auto;} .fleft{float:left !important;} .fright{float:right !important;}


/* fontColor */
.mainColor{color:var(--mainColor);}
.color-yellow{color:#FFC41B;}
.color-red{color:#f24141;}
.color-blue{color:#288ef3;}
.color-black{color:#252525;}
.color-gray{color:#6E6E6E}
.color-green{color:#00B144 !important;}
.color-orange{color:#ff6f36;}
.color-white{color:#fff !important;}
.color-light{color:#C2C2C2}
.bg-gray{background:#f1f1f1;}
.bg-yellow{background:#fffcc4;}
.bg-orange{background:#ffe5d2;}
.bg-green{background:#f3ffd8;}
.bg-red{background:#ffd8d8;}
.bg-blue{background:#bbd6ff;}

a.underline:hover{text-decoration:underline !important}

.pop-inline{cursor:pointer;}
.relative{position:relative;}

input, textarea,select{font-family:var(--font-family);}
body,#topContainer,#wrapper{font-family:var(--font-family);}




/*================================================================================*/
/* layout */
/*================================================================================*/

/*──────────────── #topContainer ────────────────*/
#topContainer{font-size:13px;position:fixed;top:0;left:0;z-index:9;background:#fff;width:100%;height:50px;padding:0 20px;color:rgba(55,71,79,1);border-bottom:1px solid rgba(0,0,0,0.07);display:flex;align-items:center;}
#topContainer .logo a{font-size:28px;font-weight:800;line-height:1em;display:inline-flex;align-items:center;gap:7px;color:var(--mainColor)}
#topContainer .loaction{font-size:14px;color:rgba(55,71,79,0.85);margin-left:100px;}
#topContainer .loaction span{}
#topContainer .loaction span:last-child{font-weight:var(--bold);}
#topContainer .loaction span:not(:last-child):after{content:'\e3a7';font-family:'newfont';font-size:11px;padding:0 10px;}
#topContainer .gbMenu{margin-left:auto;display:inline-flex;align-items:center;}
#topContainer .gbMenu > li{display:inline-block;}
#topContainer .gbMenu > li:not(:first-child){}
#topContainer .gbMenu > li:not(:first-child):before{content:'';display:inline-block;width:1px;height:10px;background:#c0c8d1;margin:0 10px;}
#topContainer .gbMenu > li .home{font-size:0;}
#topContainer .gbMenu > li .home:before{content:'\e368';font-family:'newfont';font-size:19px;font-weight:normal;color:#fff;background:rgba(71,78,103,0.3);width:21px;height:21px;border-radius:7px;transition:all .2s ease-in-out;
	display:inline-flex;align-items:center;justify-content:center;}
#topContainer .gbMenu > li .home:hover:before{background:rgba(71,78,103,0.4);}
#topContainer .gbMenu + .member{margin-left:40px;}
#topContainer > .member{margin-left:auto;display:inline-flex;align-items:center;gap:15px;margin-right:10px;}
#topContainer .member .user{display:inline-flex;align-items:center;gap:10px;}
#topContainer .member .photo{position:relative;width:28px;height:28px;}
#topContainer .member .photo a:before{content:'';display:inline-block;position:absolute;top:-1px;right:-1px;width:9px;height:9px;border:2px solid #fff;background:#ff5c5c;border-radius:50%;transform:scale(0.3);opacity:0;transition:all .2s ease-in-out;}
#topContainer .member .photo a:hover:before{transform:scale(1);opacity:1;}
#topContainer .member .photo img{width:100%;border-radius:50%;}
#topContainer .member .no-img{background:#ddd;border:1px solid #ddd;width:100%;height:100%;display:inline-flex;align-items:center;justify-content:center;border-radius:50%;overflow:hidden;}
#topContainer .member .no-img:before{content:'\e4e2';font-family:'newfont';font-size:22px;color:#fff;margin-top:8px;}
#topContainer .member .name{position:relative;font-weight:var(--bold);display:inline-flex;align-items:center;gap:7px;}
#topContainer .member .name .tag{height:18px;font-size:11px;padding:0 5px;font-weight:400;}
#topContainer .member .msg{font-size:0;display:inline-flex;align-items:center;gap:10px;}
#topContainer .member .msg a{position:relative;display:inline-flex;align-items:center;}
#topContainer .member .msg [class*="icon_"]:before{content:'';font-family:'newfont';font-size:17px;color:rgba(71,78,103,0.4);}
#topContainer .member .msg .icon_response:before{content:'\e297';}
#topContainer .member .msg .icon_memo:before{content:'\e451';}
#topContainer .member .msg .num{position:absolute;top:-9px;right:-8px;z-index:2;font-family:'Montserrat', sans-serif;font-size:11px;font-weight:500;line-height:1em;color:#fff;background:#ff5c5c;width:18px;height:18px;transform:scale(0.8);
	display:inline-flex;align-items:center;justify-content:center;border-radius:50%;}

#topContainer + #wrapper{margin-top:50px;}
#wrapper{display:block;min-height:calc(100vh - 50px);}
#wrapper:after{display:block;visibility:hidden;clear:both;content:""}
#page-wrapper{background:#f5f5f5;display:block;min-height:inherit;width:var(--wraper-width);margin-left:var(--left-width);padding:30px;}
#page-wrapper:after{display:block;visibility:hidden;clear:both;content:""}
.includers{width:var(--wraper-width) !important;margin-left:var(--left-width) !important;font-size:14px;line-height:1.5em;}
#page-wrapper .includers{margin-left:0 !important;width:100% !important;margin-top:40px;}

#sideContainer{position:fixed;top:50px;left:0;z-index:18;width:var(--left-width);height:calc(100% - 50px);background:#313639;}
#sideContainer .sideCon-inner{position:relative;height:100%;margin:0;padding:0;overflow-y:auto;}
#sideContainer nav{font-size:var(--navSize);font-weight:400;color:#fff;width:100%}
#sideContainer #nav_ul{position:relative;}
#sideContainer #nav_ul li{position:relative;}
#sideContainer #nav_ul > li.opener.open > a{color:#fff;background:rgba(197,219,255,0.1);}
#sideContainer #nav_ul li a{height:48px;display:flex;align-items:center;padding:0 13px 0 16px;transition:all .1s ease-in-out;}
#sideContainer #nav_ul li a:hover{color:#fff;background:rgba(197,219,255,0.16);}
#sideContainer #nav_ul li.active a{color:#000;background:var(--mainColor);font-weight:var(--bold);}
#sideContainer #nav_ul li.active .mont{font-weight:500 !important}
#sideContainer #nav_ul li li a{height:38px;}
#sideContainer #nav_ul li > a:after{content:'';font-family:'newfont';font-size:0.9em;font-weight:normal;vertical-align:middle;display:inline-block;margin-left:auto;}
#sideContainer #nav_ul li.opener > a:after{content:'\e051';}
#sideContainer #nav_ul li.open  > a:after{content:'\e052';}
/* 서브메뉴 */
#sideContainer #nav_ul ul{display:none;background:rgba(197,219,255,0.1);}
#sideContainer #nav_ul ul li{font-size:0.92em;font-weight:400;}
#sideContainer #nav_ul ul li a{padding-left:22px;}
#sideContainer .sideCon-inner::-webkit-scrollbar{display:none;}









/*================================================================================*/
/* Page */
/*================================================================================*/


.h1,.h2,.h3,.h4,.h5,.h6{font-family:var(--font-family);}
.h1{font-size:2em;font-weight:500}
.h2{font-size:1.8em;font-weight:500}
.h3{font-size:1.6em;font-weight:500}
.h4{font-size:1.5em;font-weight:400}
.h5{font-size:1.35em;font-weight:400}
.h6{font-size:1.2em;font-weight:400}

.page-title{font-size:20px;font-weight:var(--bold);margin-bottom:20px;}
.section-title{font-size:21px;font-weight:var(--bold);margin-bottom:12px;display:flex;align-items:flex-end;column-gap:10px;}
.section-title > .right, .section-title > .rightSet{margin-left:auto;font-size:var(--fontSize);display:inline-flex;align-items:center;column-gap:7px;}

.arrow-right{vertical-align:middle;line-height:1em;}
.arrow-right:before{content:'\e919';font-family:'intaefont';transform:scale(0.8);vertical-align:middle;}

.more{display:inline-flex;align-items:center;justify-content:center;}
.more:hover{color:blue}
.right .more, .rightSet .more{height:34px;font-size:16px;font-weight:500;padding:0 15px;color:#6E6E6E;background:#fff;border:1px solid #C2C2C2;border-radius:4px;}
.right .more:after, .rightSet .more:after{content:'\e931';font-family:'intaefont';font-size:12px;margin-left:8px;display:inline-block;vertical-align:middle;margin-top:1px;}

.add-list, .del-list{cursor:pointer;white-space:nowrap;}

ul.ul_basic{}
ul.ul_basic li{padding:5px 8px;border-bottom:1px solid #C2C2C2}




/*──────────────── boxContainer ────────────────*/
.boxContainer{border-radius:6px;background:#fff;border:1px solid rgba(0,0,0,0.08);padding:25px;}
.bg .boxContainer{border:0;}
.boxContainer.bg{background:rgba(71,78,103,0.02);}
.boxContainer.write, .boxContainer.view{position:relative;border-radius:4px;padding:35px 45px;/*box-shadow:0px 3px 4px rgba(0,0,0,0.015);*/}
.boxContainer .box-header{position:relative;font-size:1.22em;font-weight:500;margin-bottom:15px;display:flex;align-items:center;gap:8px;}
.boxContainer .box-header.tcenter{justify-content:center;}
.boxContainer .box-header > .right, .boxContainer .box-header > .rightSet{margin-left:auto;display:inline-flex;align-items:center;gap:8px;font-size:var(--fontSize);}
.boxContainer p{line-height:1.6em}
.boxContainer hr{margin:15px 0;}
.boxContainer .box-bottom{display:flex;font-size:13px;font-weight:500;}
.boxContainer .box-bottom .more{margin-left:auto;}
.boxContainer .box-bottom .more:hover{color:#235ef4}
.boxContainer .box-bottom .more:after{content:'\e004';font-family:'newfont';font-size:9px;margin-left:5px;}
.boxContainer .result-box{display:flex;align-items:center;background:rgba(0,0,0,0.04);border-radius:5px;padding:10px 15px;}
.boxContainer .result-box + .result-box{margin-top:6px;}
.boxContainer .result-box .label{font-weight:500;}
.boxContainer .result-box .value{font-size:1.22em;font-weight:500;margin-left:auto}
#page-wrapper #container > .boxContainer + .boxContainer{margin-top:40px;}


/*──────────────── widgets ────────────────*/
.tabs-wraper{}
.tabs-wraper .tabs-group{display:flex;align-items:center;gap:10px;position:relative;z-index:3;}
.tabs-wraper .tabs-group .tab{cursor:pointer;}
.tabs-wraper .tabsContainer{margin-top:-1px;position:relative;z-index:2;}
.tabs-wraper .tabCon:not(.active){display:none;}

.tabs-wraper.widget{}
.tabs-wraper.widget .tabs-group{gap:0;}
.tabs-wraper.widget .tabs-group .tab{font-size:1.1em;font-weight:var(--bold);color:rgba(0,0,0,0.6);background:#f8f8f8;padding:0 15px;height:42px;border-top:1px solid rgba(0,0,0,0.1);border-left:1px solid rgba(0,0,0,0.1);
	display:inline-flex;align-items:center;justify-content:center;}
.tabs-wraper.widget .tabs-group .tab:last-child{border-right:1px solid rgba(0,0,0,0.1);}
.tabs-wraper.widget .tabs-group .tab.active{background:#fff;color:#000;}
.tabs-wraper.widget .tabs-group .tab:not(.active){border-bottom:1px solid rgba(0,0,0,0.1);}
.tabs-wraper.widget .tabsContainer{position:relative;z-index:2;background:#fff;padding:30px 25px;border:1px solid rgba(0,0,0,0.1);border-radius:4px;border-top-left-radius:0;}
.tabs-wraper.widget .tabCon.active{font-size:13px;line-height:1.7em;}


.slide-toggle-wraper{}
.slide-toggle-wraper .slide-toggle-list{}
.slide-toggle-wraper .slide-toggle-list .slide-opener{background:#E0E0E0;font-weight:var(--bold);padding:10px 55px 10px 20px;border-radius:6px;cursor:pointer;position:relative;line-height:1.5em;word-break:keep-all;}
.slide-toggle-wraper .slide-toggle-list .slide-opener:after{content:'\e008';font-family:'newfont';font-size:12px;font-weight:bold;border:1px solid rgba(71,78,103,0.4);color:rgba(71,78,103,0.4);width:22px;height:22px;border-radius:50%;
	position:absolute;top:10px;right:10px;z-index:2;display:inline-flex;align-items:center;justify-content:center;}
.slide-toggle-wraper .slide-toggle-list.open .slide-opener{border-bottom-left-radius:0;border-bottom-right-radius:0;}
.slide-toggle-wraper .slide-toggle-list.open .slide-opener:after{content:'\e009';padding-bottom:4px;}
.slide-toggle-wraper .slide-toggle-list .slide-opener:hover:after{color:rgba(71,78,103,0.7);border-color:rgba(71,78,103,0.7);}
.slide-toggle-wraper .slide-toggle-list .slideCon{display:none;line-height:1.6em;position:relative;z-index:2;background:#fff;padding:18px 20px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;border-color:rgba(0,0,0,0.05);}
.slide-toggle-wraper .slide-toggle-list:not(:first-child) .slide-opener{border-top:0;}




/*──────────────── data-search-wrap ────────────────*/
.data-search-wrap{position:relative;margin-bottom:50px;padding:25px;background:rgba(71,78,103,0.025);border-radius:5px;/*border:1px solid rgba(0,59,177,0.1);background:#f6f6f6;*/}
.data-search-wrap:after{display:block;visibility:hidden;clear:both;content:""}
.data-search-wrap header{font-size:16px;font-weight:600;width:100%;height:40px;border-top:2px solid #ff5c1b;border-bottom:2px solid #ff5c1b;background:#fff;display:flex;align-items:center;justify-content:center;}
.data-search-wrap .data-sel + header{margin-top:10px;}
.data-search-wrap header + .data-sel{margin-top:10px;}
.data-search-wrap .data-sel{display:flex;align-items:center;column-gap:8px;background:#EBEBEB;padding:25px 40px;border-radius:5px;}
.data-search-wrap .data-sel:after{display:block;visibility:hidden;clear:both;content:""}
.data-search-wrap .data-sel > *:not(:first-child){margin-left:7px}
.data-search-wrap .data-sel .inp-search input{color:#37474f;font-size:14px;}
.data-search-wrap .data-sel .inp-search input::-webkit-input-placeholder{color:#7e8e9f;}
.data-search-wrap .data-sel .wr-wrap{flex:1;}

.data-search-wrap .btnSet{margin-top:20px;justify-content:flex-start;padding-left:10px;text-align:left;}
.data-search-wrap .btnSet.ml0{margin-left:0;padding-left:0;}
.data-search-wrap .btnSet.flex-center{padding-left:0;margin-left:0 !important;}
.data-search-wrap.label110 .btnSet{margin-left:110px}
.data-search-wrap.label120 .btnSet{margin-left:120px}
.data-search-wrap.label130 .btnSet{margin-left:130px}
.data-search-wrap.label140 .btnSet{margin-left:140px}
.data-search-wrap.label150 .btnSet{margin-left:150px}
.data-search-wrap.label160 .btnSet{margin-left:160px}
.data-search-wrap.label170 .btnSet{margin-left:170px}
.data-search-wrap.label180 .btnSet{margin-left:180px}
.data-search-wrap .btnSearch, .data-search-wrap .btnReset{font-family:var(--font-family);font-size:16px;font-weight:400;height:44px;padding:0 15px;border-radius:4px;background:#fff;transition:all .2s ease-in-out;
	display:inline-flex;align-items:center;justify-content:center;gap:5px;}
.data-search-wrap .btnSearch{min-width:100px;border:1px solid var(--mainColor);}
.data-search-wrap .btnSearch:hover{background:var(--mainColor);}
.data-search-wrap .btnReset{color:#818181;border:1px solid rgba(0,0,0,0.2);}
.data-search-wrap .btnReset:hover{background:#d8d8d8;border-color:#d8d8d8;}
.data-search-wrap .btnSearch:before{content:'\e94d';font-family:'intaefont';font-size:14px;margin-top:1px;}
.data-search-wrap .btnReset:before{content:'\e394';font-family:'newfont';font-size:17px;margin-top:3px;opacity:0.7;}



/* 기간별 검색 */
.datepickContainer{font-size:12px;height:auto;background:transparent;padding:0;border-radius:2px;color:rgba(0,0,0,0.6);padding:5px;display:inline-flex;align-items:center;justify-content:center;align-items:stretch;column-gap:5px;}
.datepickContainer .dl{min-width:75px;height:46px;padding:0 5px;font-size:16px;font-weight:500;color:#C2C2C2;background:#fff;border-radius:2px;border:1px solid #C2C2C2;border-radius:6px;
	display:inline-flex;align-items:center;justify-content:center;transition:all .2s ease-in-out;}
.datepickContainer .dl.active{background:#fff;color:#383838}
.datepickContainer .dl:hover{background:rgba(255,255,255,0.5);}

.datepickContainer.small{height:40px;background:#F5F5F5;padding:5px;border-radius:4px;display:inline-flex;align-items:center;justify-content:center;align-items:stretch;gap:5px;}
.datepickContainer.small .dl{font-size:13px;padding:0 7px;background:transparent;border:0;height:31px;min-width:50px}
.datepickContainer.small .dl.active{background:#fff;color:#383838}
.datepickContainer.small .dl:hover{background:rgba(255,255,255,0.5);}


/*──────────────── 공통 버튼 ────────────────*/
.btnSet{position:relative;margin-top:40px;text-align:center;display:flex;align-items:center;justify-content:center;gap:10px;}
.btnSet.tleft{justify-content:flex-start;}
.btnSet.tright{justify-content:flex-end;}
.btnSet:after{display:block;visibility:hidden;clear:both;content:""}
.btnSet .leftSet{position:absolute;left:0;}
.btnSet .rightSet{position:absolute;right:0;}
.btnSet .leftSet a, .btnSet .rightSet a{height:30px;padding:0 9px;}
.btnSet.small{margin-top:30px;gap:7px;}
.btnSet.small .btn{height:34px;padding:0 10px;}

.layerBtn{position:absolute;top:-10px;right:-10px;z-index:31;}
.btnEdit{position:relative;display:inline-flex;align-items:center;justify-content:center;font-size:0;text-align:center;color:#fff;width:21px;height:21px;padding:0;background-color:#1bc8a6;border-radius:2px;transition:all .15s ease-in-out;}
.btnEdit:hover{background-color:#00d6ac;color:#fff;}
.btnEdit:before{content:'\e0d6';font-family:'newfont';font-size:12px;color:inherit;}


.list-more{background:rgba(71,78,103,0.4);color:#fff;font-size:11px;font-weight:var(--bold);letter-spacing:-0.03em;padding:2px 10px 0 10px;height:22px;line-height:22px;position:absolute;top:-5px;right:0;
	display:inline-flex;align-items:center;justify-content:center;border-radius:30px;transition:all .2s ease-in-out;}
.list-more:hover{background:#467aff}
.list-more:after{content:'\e004';font-family:'newfont';font-size:9px;margin-left:5px;display:inline-block;vertical-align:middle;transform:scale(0.8);margin-top:-2px;margin-right:-4px;}




/*──────────────── pagination ────────────────*/
.pagination{position:relative;display:flex;justify-content:center;margin:30px auto 20px auto;text-align:center;font-size:0;gap:6px;}
.pagination:after{display:block;visibility:hidden;clear:both;content:""}
.pagination .pg-btn{float:left;font-family:'Montserrat', sans-serif;font-weight:normal;font-size:13px;color:rgba(71,78,103,0.75);text-align:center;width:30px;height:30px;border-radius:3px;
	display:inline-flex;align-items:center;justify-content:center;cursor:pointer;background:#fff;border:1px solid rgba(71,78,103,0.15);transition:all .2s ease-in-out;}
.pagination .pg-btn:hover{color:#fff;background:#c7cfe0;}
.pagination .pg-btn.active{color:#000;background:var(--btnColor);font-weight:500;}
.pagination .pg-btn.first:before, .pagination .pg-btn.last:before, .pagination .pg-btn.prev:before, .pagination .pg-btn.next:before{content:'';font-family:'intaefont';font-size:14px;}
.pagination .pg-btn.first:before{content:'\e948';}
.pagination .pg-btn.prev:before{content:'\e946';}
.pagination .pg-btn.next:before{content:'\e947';}
.pagination .pg-btn.last:before{content:'\e949';}

.pg_wrap{}
.pg_wrap .pg{position:relative;display:flex;justify-content:center;margin:30px auto 20px auto;text-align:center;font-size:0;gap:6px;}
.pg_wrap .pg_page, .pg_current{font-family:'Montserrat', sans-serif;font-weight:normal;font-size:13px;color:rgba(71,78,103,0.75);text-align:center;width:30px;height:30px;border-radius:3px;
	display:inline-flex;align-items:center;justify-content:center;cursor:pointer;background:#fff;border:1px solid rgba(71,78,103,0.15);transition:all .2s ease-in-out;}
.pg a:focus, .pg a:hover{color:#fff;background:#c7cfe0;}
.pg_page{background:#fff;text-decoration:none;}
.pg_wrap .pg_start, .pg_wrap .pg_prev, .pg_wrap .pg_next, .pg_wrap .pg_end{font-size:0;text-indent:1px;}
.pg_wrap .pg_start:before, .pg_wrap .pg_prev:before, .pg_wrap .pg_next:before, .pg_wrap .pg_end:before{content:'';font-family:'intaefont';font-size:14px;text-indent:1px;}
.pg_wrap .pg_start:before{content:'\e948' !important;}
.pg_wrap .pg_prev:before{content:'\e946' !important;}
.pg_wrap .pg_next:before{content:'\e947' !important;}
.pg_wrap .pg_end:before{content:'\e949' !important;}
.pg_current {color:#000;background:var(--btnColor);font-weight:500;}





/*──────────────── TAG ────────────────*/
[class^='tag']{display:inline-flex;align-items:center;justify-content:center;font-size:12px;line-height:1em;height:24px;padding:0 8px;background:rgba(55,71,79,0.35);color:#fff;border-radius:4px;}
[class^='tag'].small{height:20px;font-size:10px;}
[class^='tag'].mini{height:18px;font-size:10px;padding:0 5px;}
.tag-red{background:#ff4848;}
.tag-blue{background:#4d7bff;}
.tag-yellow{background:#ebc514;}
.tag-orange{background:#f4a622;}
.tag-green{background:#1abc9c;}

.srtag{display:inline-flex;align-items:center;justify-content:center;padding:0 10px;height:40px;border-radius:5px;font-size:16px;color:#434e5a;background:#F7F7F7;border:1px solid #ECECEC;transition:all .2s ease-in-out;}
.srtag + .srtag{margin-left:10px;}
.srtag .del:before{content:'\e2ba';font-family:'newfont';font-size:14px;margin-left:8px;margin-right:-2px;margin-top:-0.2em;cursor:pointer;color:rgba(0,0,0,0.7);}
.srtag .del:hover:before{color:#ef3131;}


.datepicker-panel ul.datepicker-header{color:#282a05;font-weight:500;font-size:16px;}



/*──────────────── tipContainer (마우스오버시 팁박스 보이기) ────────────────*/
.tipContainer{position:relative;display:inline-block;}
.tipContainer .el{display:inline-block;padding:5px 0;cursor:pointer;font-weight:var(--bold);}
.tipContainer .el.icon:after{content:'\e07a';font-family:'newfont';font-size:12px;color:rgba(55,71,79,0.6);margin-left:3px;}
.tipContainer .hidden-box{position:absolute;bottom:calc(100% - 3px);left:calc(100% - 10px);text-align:left;width:auto;padding:15px 20px;background:#fff;border:1px solid rgba(0,0,0,0.15);box-shadow:0 4px 6px rgba(0,0,0,0.1);transition:all .2s ease-in-out;opacity:0;visibility:hidden;z-index:39;white-space:nowrap;line-height:1.6em;border-radius:13px;border-bottom-left-radius:0;}
.tipContainer:hover .hidden-box{opacity:1;visibility:visible;}


/*──────────────── 아이콘 ────────────────*/
[class^='icon_']:before{content:'';font-family:'intaefont';font-weight:normal;font-style:normal;}
.icon_search:before{content:'\e377';font-size:16px;font-weight:var(--bold);color:#a1b1c2;}
.icon-excel:before{content:'';display:inline-block;width:15px;height:15px;background-image:url("../img/icon/icon-excel.png");margin-right:5px;opacity:0.8;}

.btn [class*='icon-']:before{content:'';font-family:'intaefont';font-size:12px;font-weight:normal;color:inherit;display:inline-block;}
.btn .icon-up:before{content:'\e019';margin-top:-2px;}
.btn .icon-down:before{content:'\e018';margin-top:-2px;}
.btn .icon-left:before{content:'\e016';margin-top:-1px;}
.btn .icon-right:before{content:'\e017';margin-top:-2px;}
.btn .icon-menu:before{content:'\e001';margin-top:-2px;}
.btn .icon-upload:before{content:'\e0eb';}
.btn .icon-download:before{content:'\e0ea';}
.btn .icon-setting:before{content:'\e373';transform:scale(1.5);margin-top:2px;}
.btn .icon-search:before{content:'\e36e';transform:scale(1.3);margin-top:1px;}
.btn .icon-camera:before{content:'\e092';transform:scale(1.2);}
.btn .icon-del:before{content:'\e0e1';}
.btn .icon-calendar:before{content:'\e2be';}



/*____________________________ fx-wrap ____________________________*/
.fx-wrap{}
.fx-wrap .fx-head{font-size:1.15em;font-weight:600;margin-bottom:15px;display:flex;align-items:center;}
.fx-list + .fx-head{margin-top:50px;}
.fx-list-label{width:100px;}
.auto .fx-list-label{width:auto}
.label50 .fx-list-label{width:50px !important;}.label60 .fx-list-label{width:60px !important;}.label70 .fx-list-label{width:70px !important;}.label80 .fx-list-label{width:80px !important;}.label90 .fx-list-label{width:90px !important;}
.label100 .fx-list-label{width:100px !important;}.label110 .fx-list-label{width:110px !important;}.label120 .fx-list-label{width:120px !important;}.label130 .fx-list-label{width:130px !important;}.label140 .fx-list-label{width:140px !important;}
.label150 .fx-list-label{width:150px !important;}.label160 .fx-list-label{width:160px !important;}.label170 .fx-list-label{width:170px !important;}.label180 .fx-list-label{width:180px !important;}.label190 .fx-list-label{width:190px !important;}
.label200 .fx-list-label{width:200px !important;}.label210 .fx-list-label{width:210px !important;}.label220 .fx-list-label{width:220px !important;}.label230 .fx-list-label{width:230px !important;}.label240 .fx-list-label{width:240px !important;}
.label250 .fx-list-label{width:250px !important;}.label260 .fx-list-label{width:260px !important;}.label270 .fx-list-label{width:270px !important;}.label280 .fx-list-label{width:280px !important;}.label290 .fx-list-label{width:290px !important;}
[class*="label"] .fx-list-label.auto{width:auto !important;}
.fx-wrap .fx-list{position:relative;padding:7px 0;zoom:1;display:flex;align-items:center;flex-wrap:wrap;gap:10px;line-height:1.6em;}
.fx-wrap .fx-list:after{display:block;visibility:hidden;clear:both;content:""}
	.fx-list .fx-list-label{position:relative;}
	.fx-list.flex-top .fx-list-label{padding-top:4px;}
	.fx-list .fx-list-label label{position:relative;display:inline-block;padding:0 5px;font-weight:600;cursor:default;transition:all .15s ease-in-out;}
	.fx-list .fx-list-label label.label-video:after{content:'\e2f7';font-family:'intaefont';position:relative;font-style:normal;font-weight:normal;font-size:13px;margin-top:1px;margin-left:5px;}
	.fx-list .fx-list-con{position:relative;flex:1;display:flex;align-items:center;flex-wrap:wrap;gap:10px;line-height:1.4em;}
	.fx-list .fx-list-con .flex1{flex:1;width:150px;/*사이즈가 없으면 모바일폰 화면에서 줄바꿈 현상이 나옴*/}
	.fx-list .fx-list-con .help-block{font-size:12px;color:rgba(255,255,255,0.8);line-height:1.5em;}
	.fx-list .fx-list-con small{font-size:0.8em;line-height:1.35em;margin-top:-0.2em}
	.fx-list .fx-list-con .flex{width:100%;}




.tbl_frm01{font-size:15px;line-height:1.5em;}
.tbl_frm01 th{text-align:left;font-weight:500;}
.tbl_frm01 th.vertical-top{vertical-align:top;padding-top:10px}
.tbl_frm01 label{position:relative;}
.tbl_frm01 label.required{background:transparent !important}
.tbl_frm01 label.required:before{content:'*';position:absolute;top:-4px;left:-10px;font-size:14px;color:#ff6147;}
.tbl_frm01 td{padding:10px 5px;border-right:0;border-left:0}
.tbl_frm01 textarea{height:150px}
.tbl_frm01 caption{display:none;}
.tbl_frm01 #captcha{margin:0;padding:0;border:0;background:transparent}
.tbl_frm01 #captcha input{margin-left:5px;text-align:center}
.td_grpset {font-size:14px;}

.tbl_frm01.gap10 td{padding-top:10px !important;padding-bottom:10px !important;}
.tbl_frm01.gap15 td{padding-top:15px !important;padding-bottom:15px !important;}
.tbl_frm01.gap20 td{padding-top:20px !important;padding-bottom:20px !important;}





/*───────────────────────────────────────────────────────────────────────────────
																		wr-wrap
───────────────────────────────────────────────────────────────────────────────*/
.wr-wrap{}
.wr-wrap .wr-head{font-size:1.15em;font-weight:var(--bold);margin-bottom:15px;display:flex;align-items:center;}
.wr-list + .wr-head{margin-top:50px;}

.wr-list-label{width:150px;}
.label50 .wr-list-label{width:50px !important;}.label60 .wr-list-label{width:60px !important;}.label70 .wr-list-label{width:70px !important;}.label80 .wr-list-label{width:80px !important;}.label90 .wr-list-label{width:90px !important;}
.label100 .wr-list-label{width:100px !important;}.label110 .wr-list-label{width:110px !important;}.label120 .wr-list-label{width:120px !important;}.label130 .wr-list-label{width:130px !important;}.label140 .wr-list-label{width:140px !important;}
.label150 .wr-list-label{width:150px !important;}.label160 .wr-list-label{width:160px !important;}.label170 .wr-list-label{width:170px !important;}.label180 .wr-list-label{width:180px !important;}.label190 .wr-list-label{width:190px !important;}
.label200 .wr-list-label{width:200px !important;}.label210 .wr-list-label{width:210px !important;}.label220 .wr-list-label{width:220px !important;}.label230 .wr-list-label{width:230px !important;}.label240 .wr-list-label{width:240px !important;}
.label250 .wr-list-label{width:250px !important;}.label260 .wr-list-label{width:260px !important;}.label270 .wr-list-label{width:270px !important;}.label280 .wr-list-label{width:280px !important;}.label290 .wr-list-label{width:290px !important;}
[class*="label"] .wr-list-label.auto{width:auto !important;}

.wr-wrap .wr-list{padding:5px 0;}
.wr-wrap.list-padding6 .wr-list{padding:6px 0;}.wr-wrap.list-padding7 .wr-list{padding:7px 0;}.wr-wrap.list-padding8 .wr-list{padding:8px 0;}.wr-wrap.list-padding9 .wr-list{padding:9px 0;}.wr-wrap.list-padding10 .wr-list{padding:10px 0;}
.wr-wrap.list-padding11 .wr-list{padding:11px 0;}.wr-wrap.list-padding12 .wr-list{padding:12px 0;}.wr-wrap.list-padding13 .wr-list{padding:13px 0;}.wr-wrap.list-padding14 .wr-list{padding:14px 0;}.wr-wrap.list-padding15 .wr-list{padding:15px 0;}
.wr-wrap.list-padding16 .wr-list{padding:16px 0;}.wr-wrap.list-padding17 .wr-list{padding:17px 0;}.wr-wrap.list-padding18 .wr-list{padding:18px 0;}.wr-wrap.list-padding19 .wr-list{padding:19px 0;}.wr-wrap.list-padding20 .wr-list{padding:20px 0;}
.wr-wrap.gap5 .wr-list{padding:5px 0;}.wr-wrap.gap10 .wr-list{padding:10px 0;}.wr-wrap.gap15 .wr-list{padding:15px 0;}.wr-wrap.gap16 .wr-list{padding:16px 0;}.wr-wrap.gap17 .wr-list{padding:17px 0;}.wr-wrap.gap18 .wr-list{padding:18px 0;}.wr-wrap.gap19 .wr-list{padding:19px 0;}.wr-wrap.gap20 .wr-list{padding:20px 0;}.wr-wrap.gap21 .wr-list{padding:21px 0;}.wr-wrap.gap22 .wr-list{padding:22px 0;}.wr-wrap.gap23 .wr-list{padding:23px 0;}.wr-wrap.gap24 .wr-list{padding:24px 0;}.wr-wrap.gap25 .wr-list{padding:25px 0;}



.wr-wrap .wr-list{position:relative;padding:5px 0;font-size:16px;zoom:1;display:flex;align-items:center;flex-wrap:wrap;line-height:1.6em;width:100%;}
.wr-wrap.line .wr-list{padding:18px 0;}
.wr-wrap.line .wr-list:not(:last-child){border-bottom:1px solid rgba(207,216,220,0.35);}
.wr-wrap .wr-list:after{display:block;visibility:hidden;clear:both;content:""}
.wr-wrap:not(.line) .wr-list:not(:first-child){/*margin-top:15px;*/}

	.wr-list .wr-list-label{position:relative;font-weight:var(--bold);padding-right:20px;}
	.wr-list.flex-top .wr-list-label{padding-top:4px;}
	.wr-list .wr-list-label.block{width:100% !important;margin-bottom:7px;}
	.wr-list .wr-list-label.block + .wr-list-con{width:100%;flex:auto}
	.wr-list .wr-list-con + .wr-list-label{margin-left:40px;}
	.wr-list .wr-list-label label{position:relative;display:inline-block;padding:0 5px;font-weight:var(--bold);cursor:default;transition:all .15s ease-in-out;}
	.wr-list .wr-list-label label.label-order{background:rgba(71,78,103,0.6);color:#fff;}
	.wr-list .wr-list-label.required{background:transparent !important}
	.wr-list .wr-list-label.required:before{content:'*';position:absolute;top:-4px;left:-10px;font-size:14px;font-weight:var(--bold);color:#ff6147;}
	.wr-list .wr-list-label.required2:after{content:'필수';font-size:10px;font-weight:normal;color:#ff6147;height:16px;line-height:1em;padding:0 2px;margin-left:5px;border:1px solid #ff8c68;
		background:#fff;border-radius:9px;box-shadow:-1px 2px 1px rgba(0,0,0,0.06);display:inline-flex;align-items:center;justify-content:center;}
	.wr-list .wr-list-label label.label-video:after{content:'\e2f7';font-family:'intaefont';position:relative;font-style:normal;font-weight:normal;font-size:13px;margin-top:1px;margin-left:5px;}

	.wr-list .wr-list-con{position:relative;flex:1;}
	.wr-list .wr-list-con .btn:not(.dropdown-toggle){/*height:48px;*/vertical-align:middle;}
	.wr-list .wr-list-con:not(.flex) * + .btn{margin-left:3px;}
	.wr-list .wr-list-con.flex .span{flex:1;}
	.wr-list .wr-list-con .bootstrap-select{max-width:100%;}
	.wr-list .flex{gap:8px;}
	.wr-list .wr-list-con.flex{display:flex;align-items:center;}
	.wr-list .wr-list-con.flex.flex-start{align-items:flex-start;}
	.wr-list .wr-list-con .radio-wrap, .wr-list .wr-list-con .checkbox-wrap, .wr-list .wr-list-con .toggle-light ,.wr-list .wr-list-con .radio-btn{display:inline-flex;align-items:center;}
	.wr-list .wr-list-con label{font-weight:var(--bold);}
	.wr-list .wr-list-con input + input{margin-left:15px;}	
	.wr-list .wr-list-con p + p{margin-top:0.5em}	
	.wr-list .wr-list-con p.help-block:first-child{margin-bottom:6px;}
	.wr-list .wr-list-con p.help-block:last-child{margin-top:6px;}
	.wr-list .wr-list-con span.help-block:first-child{margin-right:6px;}
	.wr-list .wr-list-con span.help-block:last-child{margin-left:6px;}
	.wr-list .wr-list-con .filebox + *, .wr-list .wr-list-con .filebox + * + *{margin-top:5px;}
	.wr-list .wr-list-con .tbl-header{margin-bottom:5px;}
	.wr-list .wr-list-con .block{position:relative;display:block;}
	.wr-list .wr-list-con .block:after{display:block;visibility:hidden;clear:both;content:""}
	.wr-list .wr-list-con .upload-file li:not(:last-child){margin-bottom:5px;}
	.wr-list .wr-list-con .upload-file li .del:before{content:'\e2ba';font-family:'newfont';font-size:10px;display:inline-flex;align-items:center;justify-content:center;margin-left:10px;cursor:pointer;
		background:rgba(55,71,79,0.35);color:#fff;width:16px;height:16px;border-radius:2px;}
	.wr-list .wr-list-con .upload-file li .del:hover:before{background:rgba(55,71,79,0.8);}

	.wr-list .msg{font-size:12px;margin-top:5px;}
	.wr-list .msg:not([class=*"color-"]){color:#6E6E6E}
	
	.wr-group{background:rgba(71,78,103,0.03);padding:15px 25px;/*border:1px solid rgba(0,0,0,0.1);*/margin-bottom:20px;border-radius:3px;}
	.wr-list + .wr-group{margin-top:15px;}
	.wr-group .wr-list-label + .wr-list-con{}
	.wr-group .wr-list .wr-list-label label{background:rgba(71,78,103,0.6);color:#fff;}
	.wr-group .wr-list .inp-wrap .label{background:#fff;}
	.wr-group .wr-list .inp-wrap.focus .label{color:#fff;background:rgba(71,78,103,0.85);}

	/* 필드추가(js) */
	.wr-list .wr-list-con .option-list{}
	.wr-list .wr-list-con .option-list li{display:flex;align-items:center;}
	.wr-list .wr-list-con .option-list li:not(:first-child){margin-top:7px;}
	.wr-list .wr-list-con .option-list li .del-list{}
		.option-list .del-list{font-size:0;cursor:pointer;margin-left:15px;width:18px;height:18px;padding-top:1px;display:inline-flex;align-items:center;justify-content:center;border-radius:7px;background:rgba(71,78,103,0.25);transition:all .2s ease-in-out;}
		.option-list .del-list:before{content:'\e935';font-family:'intaefont';font-size:12px;font-weight:normal;color:#fff;transform:scale(0.6);}
		.option-list .del-list:hover{background:#ff5858}
	
	/* 입력필드 텍스트 카운트 */
	.textCount-wrap{position:absolute;bottom:5px;right:10px;z-index:3;font-size:13px;color:#6E6E6E;}
	
	/* 상세페이지 업로드 이미지 보기 */
	.upImg-view{display:flex;align-items:flex-start;gap:15px;}
	.upImg-view li{max-width:160px;}


	.upImgContainer{background:#C2C2C2;}
	.img-list{display:flex;align-items:flex-start;flex-wrap:wrap;}
	.img-list li{max-width:137px;}
	.img-list li:not(:first-child){margin-left:10px;}
	.img-list li img{border-radius:6px;}





/*───────────────────────────────────────────────────────────────────────────────
																		TABLE
───────────────────────────────────────────────────────────────────────────────*/

/*──────────────── tbl-header ────────────────*/
.tbl-header{margin-bottom:10px;display:flex;align-items:flex-end;}
.tbl-header:after{display:block;visibility:hidden;clear:both;content:""}
.tbl-header .caption{}
.tbl-header .title{font-size:1em;font-weight:var(--bold);}
.tbl-header b{color:#000}
.tbl-header .rightSet, .tbl-header .right{margin-left:auto;display:inline-flex;align-items:center;gap:7px;}

/*──────────────── tbl-footer ────────────────*/
.tbl-footer{margin-top:7px;display:flex;align-items:flex-end;}
.tbl-footer:after{display:block;visibility:hidden;clear:both;content:""}
.tbl-footer b{color:#000}
.tbl-footer .rightSet{margin-left:auto;display:inline-flex;align-items:center;gap:7px;}

/*──────────────── table ────────────────*/
table{width:100%;border-collapse:collapse;border-spacing:0}
table.auto{width:auto;}
[class*='tbl-'].td-h1 td{padding-top:3px;padding-bottom:3px;}
[class*='tbl-'].td-h2 td{padding-top:6px;padding-bottom:6px;}
[class*='tbl-'].td-h3 td{padding-top:8px;padding-bottom:8px;}
[class*='tbl-'].td-h4 td{padding-top:11px;padding-bottom:11px;}
[class*='tbl-'].td-h5 td{padding-top:15px;padding-bottom:15px;font-size:14px;font-size:1.08em}
[class*='tbl-'].td-h6 td{padding-top:18px;padding-bottom:18px;font-size:15px;font-size:1.15em}
[class*='tbl-'].td-h7 td{padding-top:21px;padding-bottom:21px;font-size:15px;font-size:1.15em}
[class*='tbl-'].th-h1 thead th{padding-top:6px;padding-bottom:6px;font-size:0.95em}
[class*='tbl-'].th-h2 thead th{padding-top:8px;padding-bottom:8px;font-size:0.95em}
[class*='tbl-'].th-h3 thead th{padding-top:11px;padding-bottom:11px;}
[class*='tbl-'].th-h4 thead th{padding-top:14px;padding-bottom:14px;}
[class*='tbl-'].th-h5 thead th{padding-top:16px;padding-bottom:16px;font-size:14px;font-size:1.08em}
[class*='tbl-'].th-h6 thead th{padding-top:18px;padding-bottom:18px;font-size:15px;font-size:1.15em}
[class*='tbl-'].th-h7 thead th{padding-top:21px;padding-bottom:21px;font-size:15px;font-size:1.15em}

table caption{font-size:0;}
table th .sort.asc:after, table th .sort.desc:after{content:'\e04e';font-family:'intaefont';font-size:12px;font-weight:normal;display:inline-block;margin-top:-1px;color:#fff;}
table th .sort.desc:after{content:'\e04d';}
table td a{font-weight:var(--bold);transition:all .1s ease-in-out;}
table td a:hover{/*color:#5c7f92;*/}
table td.subject{text-align:left;padding-left:15px;padding-right:15px;}
table td.subject .tag{margin-right:8px;}
table td.subject a{font-size:16px;font-weight:var(--bold);}
table tbody .btn:not(.span) + .btn:not(.span){margin-left:5px;}

table .td_mng .btn{height:23px !important;padding:0 6px !important;font-size:12px !important}
table .td_mng .btn.del{background:#ff4747;color:#fff;}
table .td_mng .btn.del:hover{background:#db2c2c;color:#fff;}
table .td_mng .btn_01, .td_mng a.btn_01{background:#ff4081;color:#fff;}
table .td_mng .btn_01:hover, .td_mng a.btn_01:hover{background:#ff1464}
table .td_mng .btn_02{background:#9eacc6;color:#fff;}
table .td_mng .btn_02:hover{background:#8a99b5;}
table .td_mng .btn_03{background:#4A7AFF;color:#fff;}
table .td_mng .btn_03:hover{background:#2D61F1;}
table .btnSet{margin:0 !important;display:flex;align-items:center;justify-content:center;flex-wrap:wrap;gap:4px;}
table .btnSet .btn{margin:0 !important}

table td .sv_wrap .sv_member{display:flex;align-items:center;gap:5px;}
table td .sv_wrap .sv_member .profile_img{display:flex;}
table td .sv_wrap .sv_member .profile_img img{border-radius:50%;}



/*--- tbl-basic ---*/
.tbl-basic{position:relative;font-size:var(--fontSize);}
.tbl-basic caption{padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl-basic thead th{font-weight:var(--bold);text-align:center;line-height:1.2em;padding:10px 5px;position:relative;background:#fff;border-top:1px solid;border-bottom:1px solid;border-color:var(--table-line2);}
.tbl-basic thead th i{font-size:11px;font-weight:normal;}
.tbl-basic thead th a{color:inherit;position:relative;}
.tbl-basic thead th a:hover{text-decoration:underline;}
.tbl-basic thead th a:after{content:'';font-family:'intaefont';font-size:12px;margin:-2px -5px 0 2px;color:inherit;font-weight:normal;display:inline-block;vertical-align:middle;text-decoration:none;transition:all .2s ease-in-out;}
.tbl-basic thead th a.asc:after{/*content:'\e04d';*/}
.tbl-basic thead th a.desc:after{/*content:'\e04e';*/}
.tbl-basic thead th a:hover:after{opacity:0.9;}
.tbl-basic td, .tbl-basic tbody th{color:#333333;line-height:1.5em;padding:12px 5px;border-top:1px solid;border-bottom:1px solid;border-color:var(--table-line2);word-break:break-all;text-align:center;transition:all .2s ease-in-out;}
.tbl-basic:not(.white) thead + tbody tr:first-child td{border-top:0}
.tbl-basic tr td{background:#fff;}
.tbl-basic:not(.odd) tr:hover td{background:rgba(71,78,103,0.04);}
.tbl-basic .num{font-family:'Montserrat', sans-serif;font-weight:normal;}
.tbl-basic .date{font-family:'Montserrat', sans-serif;font-weight:normal;color:#55626f;}
.tbl-basic tr td.cell-red{background:#f55b5c !important;color:#fff !important;}
.tbl-basic tr td.cell-green{background:#11b897 !important;color:#fff !important;}
.tbl-basic tr td.cell-blue{background:#3d74f0 !important;color:#fff !important;}
.tbl-basic tr td.cell-yellow{background:#ffff00 !important;color:#1b1b1a !important;}
.tbl-basic tr td.cell-orange{background:#ff6f36 !important;color:#fff !important;}
.tbl-basic tr td.cell-black{background:#252525 !important;color:#fff !important;}
.tbl-basic tr td.cell-gray{background:#a4a6af !important;color:#fff !important;}
.tbl-basic tr th.cell-mainColor, .tbl-basic tr td.cell-mainColor{background:var(--mainColor) !important;color:#535353 !important;}
.tbl-basic tr td.cell-mainColor .btn{background:#fff;}
.tbl-basic tr td.empty{text-align:center;color:rgba(71,78,103,0.6);font-weight:var(--bold);padding:60px 10px}
.tbl-basic tr td .detail-view{color:#1D70FF;font-weight:var(--bold);}
.tbl-basic tr td .detail-view:after{content:'\e004';font-family:'intaefont';font-size:9px;margin-left:5px;transform:scale(0.8);margin-top:-2px;margin-right:-4px;}
.tbl-basic tr td sub{font-size:0.9em;color:rgba(71,78,103,0.65);}


	table tbody td.td_empty{border-width:0px;background:transparent !important;}
.tbl-basic .tleft{padding-left:15px;}
.tbl-basic .tright{padding-right:15px;}
.tbl-basic.line-nth-1 tr > *:nth-child(-n+1){border-right:1px solid var(--table-line2);}
.tbl-basic.line-nth-2 tr > *:nth-child(-n+2){border-right:1px solid var(--table-line2);}
.tbl-basic.line tr > *{border:1px solid var(--table-line2);padding-left:15px;padding-right:15px;}
.tbl-basic.line tr > .td_left, .tbl-basic.line tr > .tleft{padding-left:20px;}

/*--- tbl-basic cell ---*/
.tbl-basic.cell thead th{border-right:1px solid var(--table-line2);}
.tbl-basic.cell thead th:first-child{border-left:1px solid var(--table-line2);}
.tbl-basic.cell thead th:last-child{border-right:1px solid var(--table-line2);}
.tbl-basic.cell tbody td{border-width:1px;border-style:solid;border-color:var(--table-line2);}
.tbl-basic.cell tbody tr:first-child td{border-top:0;}
.tbl-basic.cell tbody tr:last-child td{border-bottom-style:solid;}
.tbl-basic.cell tbody td:first-child{border-left-style:solid;}
.tbl-basic.cell tbody td:last-child{border-right-style:solid;}

/*--- tbl-basic outline ---*/
.tbl-basic.outline th:first-child, .tbl-basic.outline td:first-child{border-left:1px solid var(--table-line2);}
.tbl-basic.outline th:not(.none):last-child, .tbl-basic.outline td:not(.none):last-child{border-right:1px solid var(--table-line2);}

/*--- tbl-basic [thead-] ---*/
.tbl-basic.thead-gray thead th{background:#ECECEC;border-color:#ECECEC !important;}

/*--- tbl-basic rounding ---*/
.tbl-basic.rounding{border:1px solid var(--table-line2);border-radius:6px;}
.tbl-basic.rounding thead tr > *:first-child, .tbl-basic.rounding tbody tr > *:first-child{border-left:0 !important}
.tbl-basic.rounding thead tr > *:last-child, .tbl-basic.rounding tbody tr > *:last-child{border-right:0 !important}
.tbl-basic.rounding thead tr:first-child > *{border-top:0 !important}
.tbl-basic.rounding tbody tr:last-child > *{border-bottom:0 !important}
.tbl-basic.rounding thead tr:first-child > *:first-child{border-top-left-radius:6px;}
.tbl-basic.rounding thead tr:first-child > *:last-child{border-top-right-radius:6px;}
.tbl-basic.rounding tbody tr:last-child > *:first-child{border-bottom-left-radius:6px;}
.tbl-basic.rounding tbody tr:last-child > *:last-child{border-bottom-right-radius:6px;}

/*--- tbl-basic form ---*/
.tbl-basic.form tbody td{padding-top:4px;}

.tbl-basic table input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]), .tbl-basic table .btn,
.tbl-basic table .bootstrap-select:not(.select-img) .dropdown-toggle{height:30px;line-height:30px;font-size:14px;}




/*--- tbl-excel ---*/
.tbl-excel{font-size:var(--fontSize);}
.tbl-excel th{font-size:18px;font-weight:normal;background:rgba(71,78,103,0.15);text-align:center;line-height:1.5em;padding:7px 15px;border:1px solid #c7cad1;}
.tbl-excel tbody th{font-size:1em;text-align:center;line-height:1.5em;padding:7px 15px;border:1px solid #c7cad1;background:rgba(71,78,103,0.15);}
.tbl-excel td{font-size:1em;text-align:left;line-height:1.5em;padding:7px 15px;border:1px solid #c7cad1;background:rgba(71,78,103,0.02);transition:all .2s ease-in-out;}
.tbl-excel:not([class*='td-']) th, .tbl-excel:not([class*='td-']) td{height:54px;}
.tbl-excel td:not(.bg){background:#fff;}
.tbl-excel.tcenter th, .tbl-excel.tcenter tbody th, .tbl-excel.tcenter td{text-align:center;padding:7px 15px;}
.tbl-excel:not(.odd) td:hover{background:rgba(71,78,103,0.06);}
.tbl-excel:not(.odd) td:not(.bg):hover{background:#fff;}
.tbl-excel.auto{width:auto;display:inline-block;}
.tbl-excel .auto td{min-width:150px;}
.wr-wrap .tbl-excel tbody th{background:#F7F7F7;}

.tbl-excel input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]), .tbl-excel .btn,
.tbl-excel .bootstrap-select:not(.select-img) .dropdown-toggle{height:38px;font-size:15px;line-height:36px !important;padding-top:0;padding-bottom:0;}
.tbl-excel input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]){padding-left:10px;padding-right:10px;}
.tbl-excel .bootstrap-select:not(.select-img) .dropdown-toggle{}

.tbl-excel td.padding0 input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]),
.tbl-excel td.padding0 textarea,
.tbl-excel td.padding0 .bootstrap-select:not(.select-img) .dropdown-toggle{border:0;font-size:16px;border-radius:0;}
.tbl-excel td.padding0 input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]),
.tbl-excel td.padding0 .bootstrap-select:not(.select-img) .dropdown-toggle{height:50px;line-height:1em;}
.tbl-excel td.padding0 textarea{padding:13px 10px;}
.tbl-excel td.padding0 .add-list{display:flex;align-items:center;justify-content:center;height:50px;}


.mainColor thead th{background:var(--mainColor);}
.red thead th{background:#f55b5c;}
.blue thead th{background:#3d74f0;}
.green thead th{background:#11b897;}
.black thead th{background:#1e1e1e;}
.orange thead th{background:#ff6f36;}
.white thead th{background:#fff;color:#2C2C2C}
.odd table tbody tr:nth-child(2n-1) td{background:rgba(0,0,0,0.02)}


.order-up, .order-down{width:24px;height:24px;border-radius:3px;background:#fff;border:1px solid rgba(0,0,0,0.15);display:inline-flex;align-items:center;justify-content:center;font-size:0}
.order-up:before{content:'\e933';font-family:'intaefont';font-size:11px;}
.order-down:before{content:'\e932';font-family:'intaefont';font-size:11px;}








/*───────────────────────────────────────────────────────────────────────────────
																		gallery
───────────────────────────────────────────────────────────────────────────────*/

/*──────────────── gallery (기본) ────────────────*/
.gallery{}
.gallery:not(.webzine) > ul{display:flex;flex-wrap:wrap;align-items:flex-start;}
.gallery > ul:after{display:block;visibility:hidden;clear:both;content:""}
.gallery:not(.webzine):not(.row-2):not(.row-3):not(.row-4):not(.row-5) > ul{gap:20px;}
.gallery:not(.webzine) .gall-li{width:calc(25% - 16px);background:#fff;padding:20px;border:1px solid rgba(0,0,0,0.1);border-radius:4px;}
.gallery .gall-li .txtCon{line-height:1.4em;}
.gallery .gall-li .imgCon + .txtCon{margin-top:15px;}
.gallery .gall-li .title{font-size:1.13em;font-weight:var(--bold);}
.gallery .gall-li .con{margin-top:8px;}
.gallery .gall-li .info{color:rgba(71,78,103,0.7);margin-top:13px;}
.gallery.row-2:not(.webzine) > ul{gap:26px;}
.gallery.row-3:not(.webzine) > ul{gap:30px;}
.gallery.row-4:not(.webzine) > ul{gap:26px;}
.gallery.row-5:not(.webzine) > ul{gap:19px 18px;}
.gallery.row-2:not(.webzine) .gall-li{width:calc(50% - 13px);}
.gallery.row-3:not(.webzine) .gall-li{width:calc(33.3% - 20px);}
.gallery.row-4:not(.webzine) .gall-li{width:calc(25% - 16px);}
.gallery.row-5:not(.webzine) .gall-li{width:calc(20% - 15px);}


/*──────────────── gallery (webzine) ────────────────*/
.gallery.webzine{}
.gallery.webzine ul:after{display:block;visibility:hidden;clear:both;content:""}
.gallery.webzine > ul{display:flex;flex-wrap:wrap;gap:20px;}
.gallery.webzine:not(.row-2):not(.row-3):not(.row-4):not(.row-5) ul{}
.gallery.webzine .gall-li{width:100%;background:#fff;padding:25px;border:1px solid rgba(0,0,0,0.1);border-radius:4px;display:flex;}
.gallery.webzine .gall-li .imgCon{max-width:100px;}
.gallery.webzine .gall-li .txtCon{line-height:1.4em;flex:1;}
.gallery.webzine .gall-li .imgCon + .txtCon{margin-top:0;margin-left:25px;}
.gallery.webzine .gall-li .txtCon + .imgCon{margin-left:25px;}
.gallery.webzine .gall-li .title{font-size:1.13em;font-weight:var(--bold);}
.gallery.webzine .gall-li .info{color:rgba(71,78,103,0.7);}
.gallery.webzine .gall-li .txtCon > *:not(:first-child){margin-top:6px;}
.gallery.webzine.row-2{gap:22px;}
.gallery.webzine.row-3{gap:20px 21px;}
.gallery.webzine.row-4{gap:20px;}
.gallery.webzine.row-2 .gall-li{width:calc(50% - 11px);}
.gallery.webzine.row-3 .gall-li{width:calc(33.3% - 14px);}
.gallery.webzine.row-4 .gall-li{width:calc(25% - 15px);}


/*──────────────── gallery (banner) ────────────────*/
.gallery.banner ul{gap:20px;}
.gallery.banner .gall-li{width:calc(25% - 16px);background:#fff;padding:15px 20px;border:1px solid var(--mainColor);border-radius:6px;box-shadow:0 4px 6px rgba(0,0,0,0.06);}
.gallery.banner .gall-li .header{text-align:center;font-size:16px;font-weight:var(--bold);padding-bottom:15px;border-bottom:1px solid var(--mainColor);margin-bottom:15px;}
.gallery.banner .gall-li .title{font-size:18px;font-weight:var(--bold);margin-bottom:15px;}
.gallery.banner .gall-li .con{margin-top:8px;}
.gallery.banner .gall-li .date{font-size:15px;color:rgba(0,0,0,0.9);margin-top:13px;}
.gallery.banner .gall-li .btnSet{margin-top:15px;}
.gallery.banner .gall-li .btnSet .btn{font-size:15px;height:31px;min-width:61px;}



/*──────────────── comments (view) ────────────────*/
.comments{position:relative;margin-top:20px;}
.comments .co-list{position:relative;}
.comments .co-list:not(:first-child){margin-top:13px;padding-top:13px;border-top:1px solid rgba(53,57,69,0.1);}
.comments .co-list header{font-size:13px;margin-bottom:10px;}
.comments .co-list header span:not(:last-child){display:inline-block;margin-right:15px;}
.comments .co-list header .writer{font-weight:var(--bold);}
.comments .co-list header .date{font-family:'Montserrat', sans-serif;letter-spacing:0.01em;color:#697c81;}
.comments .co-list .con{font-size:14px;line-height:1.6em;}
.comments .co-list .del-co{display:inline-block;position:absolute;top:15px;right:10px;}
.comments .co-list .del-co:hover{color:red}





/*───────────────────────────────────────────────────────────────────────────────
																		MAIN
───────────────────────────────────────────────────────────────────────────────*/
#main{}
#main .boxContainer{border-color:rgba(0,0,0,0.03);}

#main .new-num{margin:10px auto;width:49px;height:49px;font-size:22px;line-height:49px;font-weight:600;color:#fff;background:var(--mainColor);border-radius:50%;display:inline-flex;align-items:center;justify-content:center;}
#main .profile-thumb{display:inline-flex;align-items:center;justify-content:center;width:70px;height:70px;position:relative;}
#main .profile-thumb img{width:100%;height:100%;border-radius:50%;}
#main .profile-thumb .no-mb-img{width:100%;height:100%;background:url('../img/temp/no-profile-img.png') no-repeat center / cover;border-radius:50%;display:inline-flex;align-items:center;justify-content:center;}

.main-profile-thumb{width:120px;height:120px;border-radius:50%;background-repeat:no-repeat;background-size:cover;}
.main-profile-con{margin-left:35px !important;}
.main-profile-con .header{display:flex;align-items:center;flex-wrap:wrap;}
.main-profile-con .header div, .main-profile-con .header p{width:100%;}
.main-profile-con .header .name{font-size:16px;font-weight:600;}
.main-profile-con .header .tag{margin-left:15px;}
.main-profile-con .con{font-size:14px;line-height:1.4em;color:#3B3B3B;margin-top:20px;}
















/*───────────────────────────────────────────────────────────────────────────────
																		admin 기본
───────────────────────────────────────────────────────────────────────────────*/
.btn_list{margin-top:10px;display:flex;align-items:center;gap:7px;} /* 목록용 */
.btn_list .right{margin-left:auto;display:inline-flex;align-items:center;gap:7px}
.btn_list .btn, .btn_list input[type="submit"].btn{height:35px !important;font-size:15px !important;font-weight:400;border:1px solid #cccccc}
.btn_list .btn:hover, .btn_list input[type="submit"].btn:hover{background:#acafba;border-color:#acafba;color:#fff;}
.btn_list .btn.btn_01, .btn_list input[type="submit"].btn.btn_01{background:var(--mainColor) !important;color:#000 !important;border:0;}
.btn_list .btn.btn_02, .btn_list input[type="submit"].btn.btn_02{background:#fff!important;color:#000 !important;}
.btn_list .btn.btn_02:hover, .btn_list input[type="submit"].btn.btn_02:hover{background:#acafba!important;border-color:#acafba!important;color:#fff !important;}

.btn_fixed_top{display:flex;align-items:center;justify-content:center;gap:10px;margin-top:20px;}
.btn_list + .btn_fixed_top{margin-top:0;}

.btn_fixed_top .btn_01{background:var(--mainColor) !important;border:0 !important;font-weight:500 !important;}
.btn_fixed_top .btn_01:hover{background:var(--mainColor-light) !important;}
.btn_fixed_top .btn_submit{background:var(--mainColor) !important;border:0 !important;font-weight:500 !important;}
.btn_fixed_top .btn_submit:hover{background:var(--mainColor-light) !important;}
.btn_fixed_top .btn_02{background:#fff !important;border:1px solid rgba(0,0,0,0.2) !important;font-weight:500 !important;}
.btn_fixed_top .btn_02:hover{background:#acafba !important;border-color:#acafba !important;color:#fff !important;}

.btn_fixed_top .btn, .btn_fixed_top .btn_submit, .btn_fixed_top .submit{height:50px;min-width:90px;padding:0 17px !important;}
.btn_fixed_top .btn.btn_01, .btn_fixed_top .btn_submit, .btn_fixed_top .submit{min-width:120px;}











/*─────────────── LAYER POPUP (API없이) ───────────────*/
.layer-popup{position:fixed;top:0;left:0;width:100%;height:100%;z-index:999999;padding:150px 60px;overflow-y:auto;}
.layer-popup .pop-closer{position:fixed;top:15px;right:15px;z-index:5;opacity:0.9;font-size:0;cursor:pointer;background:transparent}
.layer-popup .pop-closer:before{content:'\e905';font-family:'intaefont';font-size:25px;color:#fff;font-weight:normal;width:54px;height:54px;display:flex;align-items:center;justify-content:center;}
.layer-popup .pop-bg{position:fixed;top:0;left:0;width:100%;height:100%;z-index:3;background:rgba(0,0,0,0.6);opacity:0;visibility:hidden;}
.layer-popup .popContainer{position:relative;z-index:5;width:100%;min-height:100%;display:flex;align-items:center;justify-content:center;}
.layer-popup .popContainer .pop-inner{position:relative;z-index:6;background:#fff;border-radius:4px;padding:35px 60px 40px 60px;font-size:14px;min-width:500px;min-height:175px;
	display:flex;justify-content:center;flex-direction:column;}
.layer-popup .popContainer .pop-inner .pop-closer{position:absolute;top:10px;right:10px;}
.layer-popup .popContainer .pop-inner .pop-closer:before{content:'\e905';font-family:'intaefont';font-size:20px;color:#000;}
.layer-popup .popContainer .pop-inner .pop-closer + *{margin-top:30px}
.layer-popup .popContainer .pop-header{font-size:24px;font-weight:var(--bold);margin-bottom:20px;}
.layer-popup .popContainer .pop-header:before{content:'';width:5px;height:23px;background:var(--mainColor);vertical-align:middle;margin-top:-3px;margin-right:10px;}
.layer-popup .popContainer .btnSet{text-align:center;margin-top:30px;}
.layer-popup:not(.open){display:none;}
.layer-popup.open .pop-inner{animation:popOpen 0.4s cubic-bezier(0.5,0,0,1.25) forwards;}
.layer-popup.open .pop-bg{visibility:visible;animation:pop-bg-fade 0.5s forwards;}
.layer-popup.open ~ *{transition:filter;filter:blur(3px);}
@keyframes popOpen{
  0%{opacity:0;transform:scale(0.9) translateY(0);}
  100%{opacity:1;transform:scale(1) translateY(0);}
}
@keyframes pop-bg-fade{
  0%{opacity:0;}
  100%{opacity:1;}
}


.layer-popup .tbl-basic{margin-top:-15px;}
.layer-popup .tbl-basic thead th{border-top:0}
