@charset "utf-8";
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');

[class*='noto']{font-family:'Noto Sans KR', sans-serif;}
.noto100{font-weight:100 !important;}
.noto200{font-weight:200 !important;}
.noto300{font-weight:300 !important;}
.noto400{font-weight:400 !important;}
.noto500{font-weight:500 !important;}
.noto600{font-weight:600 !important;}
.noto700{font-weight:700 !important;}
.noto800{font-weight:800 !important;}
.mont{font-family:'Montserrat', sans-serif;font-weight:normal !important;}
.mont100{font-family:'Montserrat', sans-serif;font-weight:100 !important;}
.mont200{font-family:'Montserrat', sans-serif;font-weight:200 !important;}
.mont300{font-family:'Montserrat', sans-serif;font-weight:300 !important;}
.mont400{font-family:'Montserrat', sans-serif;font-weight:400 !important;}
.mont500{font-family:'Montserrat', sans-serif;font-weight:500 !important;}
.mont600{font-family:'Montserrat', sans-serif;font-weight:600 !important;}
.mont800{font-family:'Montserrat', sans-serif;font-weight:800 !important;}
.mont900{font-family:'Montserrat', sans-serif;font-weight:900 !important;}
.mont{font-family:'Montserrat', sans-serif;font-weight:normal !important;}
.mont100{font-family:'Montserrat', sans-serif;font-weight:100 !important;}
.mont200{font-family:'Montserrat', sans-serif;font-weight:200 !important;}
.mont300{font-family:'Montserrat', sans-serif;font-weight:300 !important;}
.mont400{font-family:'Montserrat', sans-serif;font-weight:400 !important;}
.mont500{font-family:'Montserrat', sans-serif;font-weight:500 !important;}
.mont600{font-family:'Montserrat', sans-serif;font-weight:600 !important;}
.mont800{font-family:'Montserrat', sans-serif;font-weight:800 !important;}
.mont900{font-family:'Montserrat', sans-serif;font-weight:900 !important;}


*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before, *:after{display:inline-block;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

::-webkit-scrollbar{width:6px;height:6px;border-radius:2px;}
::-webkit-scrollbar-thumb{cursor:pointer;background:#afafaf;border-radius:2px;}
::selection{background-color:#afafaf;color:#fff;border-radius:2px;}
-webkit-::selection{background-color:#afafaf;color:#fff;border-radius:2px;}
::-moz-selection{background-color:#afafaf;color:#fff;border-radius:2px;}

:root{
	--left-width:200px; /*왼쪽메뉴영역 가로 사이즈*/
	--wraper-width:calc(100% - 200px);
	--mainColor:#D0DB23;
	--mainColor-light:#dae530;
	--btnColor:#D0DB23;
	--btnColor-active:#BCC712;
	--btnfontColor:#3C3C3C;
	--tip-bg-color:rgba(0,0,0,0.65); /*말풍선 컬러*/
	--table:#7f90aa; /* thead th bg컬러 */
	--table-line:#c0c6cf;
	--table-line2:#EEEEEE;
	--table-radius:4px;
	--font-family:'Noto Sans KR', sans-serif;
	--navSize:15px;
	--fontSize:16px;
	--fontSize-mini:14px;
	--fontSize-small:15px;
	--fontSize-large:18px;
	--bold:500;
}



/*================================================================================*/
/* My Form */
/*================================================================================*/

/*____________________________ FORM ____________________________*/
input{vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]), .btn, textarea{font-family:inherit;border-radius:2px;}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]), textarea{font-weight:normal;padding:0 10px;color:#2d2d2d;background:#fff;border:1px solid rgba(0,0,0,0.2);position:relative;z-index:3;outline:none;}
textarea{width:100%;line-height:16px;padding:13px;display:block;overflow-y:auto !important;}
textarea{min-height:120px;}
textarea.mini{height:54px;min-height:54px;}
textarea.txtBox{background:#fff;}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):focus:not(:read-only), textarea:focus:not(:read-only){border-color:rgba(0,0,0,0.65);box-shadow:0 4px 4px rgba(0,0,0,0.05);}
input[type="url"] {color:#20366d;}

input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]).red{border-color:#ff3131 !important;}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]).green{border-color:#00B144 !important;}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]).blue{border-color:#315dff !important;}

input:-moz-placeholder, textarea:-moz-placeholder {color:#999;font-weight:normal;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#999;font-weight:normal;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#999;font-weight:normal;}
input::-moz-focus-inner,
button::-moz-focus-inner{border:0;padding:0;}

input:read-only{background:rgba(71,78,103,0.03) !important;}
input[disabled] + span{cursor:not-allowed;}

input.datepicker, input.phone, input.price{font-family:'Montserrat', sans-serif;font-family:inherit;font-size:14px;}
input.phone, input.price{font-weight:400;}


/*____________________________ input & btn Size ____________________________*/
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]), .btn{height:44px;font-size:var(--fontSize);color:#000;font-weight:400;border-radius:4px;padding:0 15px;}
.btn, input[type="submit"].btn{font-weight:500;padding-top:0;padding-bottom:0;}
.btn.normal, input[type="submit"].btn.normal{height:32px !important;line-height:32px;}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]).mini,
.btn.mini, input[type="submit"].btn.mini{font-size:13px;height:25px;line-height:25px;}
.btn.mini, input[type="submit"].btn.mini {padding-left:7px;padding-right:7px;}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]).small,
.btn.small, input[type="submit"].btn.small{font-size:14px;font-weight:400;height:32px;line-height:1em !important;padding:0px 10px;}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]).large, .btn.large, input[type="submit"].btn.large{font-size:18px;height:56px;font-weight:400;line-height:56px;}
.btn.large, input[type="submit"].btn.large{padding-left:19px;padding-right:19px;}
.btn.short, input[type="submit"].btn.short{font-size:11px;padding:0 8px;}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):not([type="submit"]).simple{vertical-align:middle;height:21px;border-radius:0;border:0;border-bottom:1px solid #000;box-shadow:none !important;padding:0 4px;font-size:1em;}

/* select size */
.bootstrap-select:not(.select-img) .dropdown-toggle{height:44px;line-height:44px;padding-left:12px;font-size:var(--fontSize);}
.bootstrap-select.mini .dropdown-toggle{height:25px;line-height:25px;padding-left:6px;font-size:0.82em;}
.bootstrap-select.small .dropdown-toggle{height:32px;line-height:28px;padding-left:8px;font-size:0.82em;}
.bootstrap-select.large .dropdown-toggle{height:56px;line-height:42px;padding-left:12px;font-size:1em;}


/*____________________________ btn ____________________________*/
.btn{cursor:pointer;text-align:center;font-weight:var(--bold);line-height:1em;padding:0 8px;color:var(--btnfontColor);background:var(--btnColor);transition:all .2s ease-in-out;
		display:inline-flex;align-items:center;justify-content:center;outline:0;}
.btn:not(.dropdown-toggle):hover{background:var(--btnColor-active);}

.btn.reverse{background:transparent;color:#3C3C3C;border:1px solid #D0DB23;} .btn.reverse:hover{color:#3C3C3C !important;background:#D0DB23;}
.btn.reverse.gray{background:transparent;border-color:#b2b2b2;color:#383838 !important;} .btn.reverse.gray:hover{background:#b2b2b2;color:#fff !important;}
.btn.reverse.red{background:transparent;color:#FF361C !important;border:1px solid #FF361C;} .btn.reverse.red:hover{color:#fff !important;background:#FF361C;}
.btn.reverse.mainColor{background:transparent;border-color:var(--mainColor);color:var(--mainColor) !important;} .btn.reverse.mainColor:hover{background:var(--mainColor);color:#fff !important}
.btn.light{background:#fff;color:#383838;} .btn.light:hover{background:#fff;color:#0d0d0d !important;}
.btn.light-reverse{background:transparent;color:#fff !important;border:2px solid rgba(255,255,255,0.85);} .btn.light-reverse:hover{background:#fff;color:rgba(0,0,0,0.9);border:2px solid #fff;}
.btn.black{background:rgba(53,57,69,0.85);color:#fff !important;} .btn.black:hover{background:rgba(53,57,69,1);}
.btn.gray{background:rgba(53,57,69,0.3);color:#3C3C3C !important;} .btn.gray:hover{background:rgba(53,57,69,0.2);}
.btn.dark-gray{background:rgba(53,57,69,0.6);color:#fff !important;} .btn.dark-gray:hover{background:rgba(53,57,69,0.8);}
.btn.red{background:#ff4e4e;color:#fff !important;} .btn.red:hover{background:#e63232;}
.btn.blue{background:#4a86ff;color:#fff !important;} .btn.blue:hover{background:#1f5fe2;}
.btn.bluelight{background:#14b8d4;color:#fff !important;} .btn.bluelight:hover{background:#11a7c1;}
.btn.green{background:#1bc8a6;color:#fff !important;} .btn.green:hover{background:#0cb191;}
.btn.orange{background:#ff9921;color:#fff !important;} .btn.orange:hover{background:#eb740b;}
.btn.yellow{background:#ffdf31;color:#303030 !important} .btn.yellow:hover{background:#f7d100;}
input[type="submit"].btn{font-weight:normal;padding:0 10px;color:#2d2d2d;background:#fff;border:1px solid rgba(0,0,0,0.2);position:relative;z-index:3;outline:none;}
.btn.mainColor{color:var(--btnfontColor) !important;background:var(--btnColor) !important;border:0 !important;font-weight:500 !important;}

/* inp-wrap */
.inp-wrap{position:relative;display:inline-flex;align-items:center;align-items:stretch;font-size:var(--fontSize);}
.inp-wrap:after{display:block;visibility:hidden;clear:both;content:""}
.inp-wrap:not(:first-child){margin-left:5px;}
.inp-wrap:not(.label-inline) .label{position:relative;height:inherit;line-height:1em;padding:0 10px;padding-top:0.15em;min-width:28px;font-size:0.86em;text-align:center;white-space:nowrap;
	color:rgba(53,57,69,0.8);font-weight:var(--bold);border-radius:4px;border:1px solid rgba(0,0,0,0.15);background:rgba(53,57,69,0.02);z-index:2;display:inline-flex;align-items:center;justify-content:center;}
.inp-wrap:not(.label-inline).focus .label{color:#fff;background:rgba(71,78,103,0.85);}
.inp-wrap input{vertical-align:top;}
.inp-wrap.left-label input, .inp-wrap.left-label .bootstrap-select .btn{border-top-left-radius:0 !important;border-bottom-left-radius:0 !important;}
.inp-wrap.right-label input, .inp-wrap.right-label .bootstrap-select .btn{border-top-right-radius:0 !important;border-bottom-right-radius:0 !important}
.inp-wrap span:first-child{border-right:0 !important;border-top-right-radius:0 !important;border-bottom-right-radius:0 !important;}
.inp-wrap span:last-child{border-left:0 !important;border-top-left-radius:0 !important;border-bottom-left-radius:0 !important;}

.inp-wrap.label-inline{background:#fff;border:1px solid rgba(0,0,0,0.2);border-radius:4px;}
.inp-wrap.label-inline.focus{border-color:rgba(0,0,0,0.65);box-shadow:0 4px 4px rgba(0,0,0,0.05);}
.inp-wrap.label-inline input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]){margin-top:-1px;margin-bottom:-1px;border:0 !important;background:transparent !important;box-shadow:none !important}
.inp-wrap.label-inline span{display:inline-flex;align-items:center;padding-top:0.15em;padding-left:15px;font-size:0.9em;color:#A1A1A1;white-space:nowrap;}
.inp-wrap.label-inline input + span{padding-left:0 !important;padding-right:15px;}
.inp-wrap.label-inline span.search:before{content:'\e94f';font-family:'intaefont';font-size:15px;font-weight:normal !important;}
.inp-wrap.label-inline span.date:before{content:'\e9a9';font-family:'intaefont';font-size:15px;font-weight:normal !important;}
.inp-wrap .datepicker + span{border:0 !important;background:transparent !important;}
.inp-wrap .datepicker + span:before{content:'\e9a9';font-family:'intaefont';font-size:16px;font-weight:normal !important;margin-top:1px;}
.inp-wrap .datepicker + span{color:#A1A1A1;}
.inp-wrap.focus .datepicker + span{color:rgba(0,0,0,0.85)}
.inp-wrap:not(.label-inline) .datepicker{padding-right:33px !important;}
.inp-wrap:not(.label-inline) .datepicker + span{position:absolute;top:0;right:3px;width:24px;height:100%;z-index:3;display:flex;align-items:center;justify-content:center;}

.inp-wrap.mySelect .label{border-top-left-radius:3px;border-bottom-left-radius:3px;padding:0 8px;}

.inp-wrap.mini span, .inp-wrap .label.mini{padding:0 4px;}
.inp-wrap.mini input{}
.inp-wrap.small span, .inp-wrap .label.small{height:28px !important;padding:0 5px;}
.inp-wrap.small input{height:28px !important;}
.inp-wrap.large span, .inp-wrap .label.large{height:42px !important;padding:0 10px;font-size:14px;font-weight:var(--bold);}
.inp-wrap.large input{height:42px !important;}

.inp-wrap .label.yellow{color:#614531;background:#fff8a5;}
.inp-wrap .label.light{color:#50505d;background:#fff;}

.inp-wrap .label.dark{color:#fff;background:#a3a6b3;}
.inp-wrap.left-label .label.dark + .bootstrap-select .btn{border-left:0;}

.inp-wrap.span{display:flex;}
.inp-wrap.span input, .inp-wrap.span input.span{flex:1;}




/*──────────────── Radio & Checkbox ────────────────*/
.checkbox-wrap input[type="checkbox"]{display:none;}
.radio-wrap input[type="radio"]{display:none;}

*:not(.sound_only) + .checkbox-wrap, *:not(.sound_only) + .radio-wrap{margin-left:20px;}

.checkbox-wrap{display:inline-flex;align-items:center;column-gap:10px;cursor:pointer;}
.checkbox-wrap span{display:inline-flex;align-items:center;justify-content:center;border-radius:4px;cursor:pointer;text-align:center;	width:22px;height:22px;line-height:22px;background:#fff;color:rgba(0,0,0,0);border:1px solid rgba(0,0,0,0.15);}
.checkbox-wrap span:before{content:'\e912';font-family:'intaefont';font-size:10px;font-weight:bold;}
.checkbox-wrap:hover span{color:rgba(0,0,0,0.3);}
.checkbox-wrap input[type="checkbox"]:checked + span{color:#fff;background:var(--mainColor);}
.checkbox-wrap.type2{}
.checkbox-wrap.type2 span{background:#fff;}
.checkbox-wrap.type2 span:before{content:'\e929';}
.checkbox-wrap.type2:hover span{color:rgba(0,0,0,0.1);}
.checkbox-wrap.type2 input[type="checkbox"]:checked + span{background:#fff;color:rgba(0,0,0,0.5);}

.radio-wrap{display:inline-flex;align-items:center;column-gap:10px;cursor:pointer;}
.radio-wrap span{position:relative;display:inline-block;vertical-align:middle;width:22px;height:22px;background:#fff;border:1px solid rgba(0,0,0,0.15);border-radius:50%;cursor:pointer;text-align:center;}
.radio-wrap span:before{content:'';display:inline-block;position:absolute;top:50%;left:50%;margin-top:-7px;margin-left:-7px;width:14px;height:14px;background:transparent;border-radius:50%;}
.radio-wrap:hover span{background:#fff;}
.radio-wrap:hover span:before{background:rgba(0,0,0,0.2);}
.radio-wrap input[type="radio"]:checked + span, .radio-wrap:hover input[type="radio"]:checked + span{background:#fff;border-color:var(--mainColor);}
.radio-wrap input[type="radio"]:checked + span:before, .radio-wrap:hover input[type="radio"]:checked + span:before{background:var(--mainColor);}


.radio-btn-wrap{display:inline-flex;align-items:center;}
.radio-btn{position:relative;}
.radio-btn input[type="radio"] + span{position:relative;margin-right:0 !important;display:inline-flex;align-items:center;justify-content:center;width:auto;min-width:76px;height:32px;line-height:1em;padding:0 15px;color:#fff;
	font-size:13px;background:rgba(55,71,79,0.2);border-radius:0;transition:all .2s ease-in-out;}
.radio-btn:first-child input[type="radio"] + span{border-top-left-radius:4px;border-bottom-left-radius:4px;}
.radio-btn:last-child input[type="radio"] + span{border-top-right-radius:4px;border-bottom-right-radius:4px;}
.radio-btn:hover input[type="radio"] + span{background:rgba(55,71,79,0.3);}
.radio-btn input[type="radio"]:checked + span{background:var(--btnColor);}
.radio-btn:not(:last-child) input[type="radio"] + span:after{content:'';position:absolute;top:10px;right:0;display:inline-block;width:1px;height:12px;background:rgba(55,71,79,0.1);}
.radio-btn:hover input[type="radio"] + span:after, label.radio-btn input[type="radio"]:checked + span:after{}
.radio-btn.gray input[type="radio"]:checked + span{background:#79909c;}
.radio-btn.blue input[type="radio"]:checked + span{background:#4075fb;}
.radio-btn.red input[type="radio"]:checked + span{background:#ff5050;}


/*──────────────── my-filebox ────────────────*/
.my-filebox{position:relative;cursor:default;display:inline-flex;align-items:center;}
.my-filebox input[type="file"]{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.my-filebox input.upload-name{margin:0 !important;width:300px;height:27px !important;font-size:12px;color:#777;margin:0;padding:0 5px 0 10px;border:1px solid rgba(0,0,0,0.25);
	border-right:0 !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;border-top-right-radius:0 !important;border-bottom-right-radius:0 !important;
	display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;cursor:default;position:relative;background:#fff;box-shadow:0 4px 4px rgba(0,0,0,0.03) inset;
	-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.my-filebox label.upload-btn{width:80px;height:27px;line-height:27px;font-size:12px;font-weight:var(--bold);text-align:center;border:1px solid rgba(0,0,0,0.25);
	background:rgba(71,78,103,0.03);border-radius:0;border-top-right-radius:4px;border-bottom-right-radius:4px;overflow:hidden;cursor:pointer;}


/*──────────────── fileContainer (input file) ────────────────*/
.fileContainer{}
.fileContainer.flex{display:flex;align-items:flex-start;gap:20px !important;}
.fileContainer input[type="file"]{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.fileContainer .upload-btn{min-width:140px;height:48px;font-size:14px;font-weight:500;background:#fff;color:#3b7cff;border:1px solid #3b7cff;padding:0 17px;border-radius:4px;display:inline-flex;align-items:center;justify-content:center;transition:all .2s ease-in-out;}
.fileContainer .upload-btn:before{content:'\e4ef';font-family:'newfont';font-size:16px;font-weight:normal;margin-right:0.5em;}
.fileContainer .upload-btn:hover{background:#3b7cff;color:#fff;}
.fileContainer img{max-width:100%;}
.fileContainer div.upImg-preview{width:auto;max-width:220px;}
.fileContainer:not(.flex) div.upImg-preview img{margin-top:10px;}
.fileContainer:not(.flex) ul.upImg-preview{margin-top:10px;}
.fileContainer ul.upImg-preview{display:inline-flex;gap:15px;padding:25px;background:rgba(71,78,103,0.4);border-radius:5px;}
.fileContainer ul.upImg-preview li{position:relative;max-width:120px;}
.fileContainer ul.upImg-preview li img{border-radius:4px;}
.fileContainer ul.upImg-preview li .upload-empty{width:120px;height:120px;font-size:13px;border-radius:3px;;border:1px dashed #fff;color:#fff;display:flex;align-items:center;justify-content:center;flex-direction:column;transition:all .2s ease-in-out;}
.fileContainer ul.upImg-preview li .upload-empty:hover{background:rgba(255,255,255,0.1);}
.fileContainer ul.upImg-preview li .upload-empty:after{content:'\e904';font-family:'intaefont';font-size:19px;font-weight:normal;margin-top:8px;}
.fileContainer ul.upImg-preview li .del:before{content:'\e2ba';font-family:'newfont';font-size:10px;font-weight:normal;line-height:1em;color:#fff;width:18px;height:18px;background:#ff636a;cursor:pointer;
	display:inline-flex;align-items:center;justify-content:center;border-radius:3px;position:absolute;top:-5px;right:-5px;z-index:3;}


/* 범위지정 */
.rangeContainer{position:relative;z-index:2;}
.rangeContainer label{margin-right:15px;}
.rangeContainer input[type='range']{position:relative;vertical-align:top;-webkit-appearance:none;width:100%;height:12px;appearance:none;background:transparent;outline:none;z-index:2;}
.rangeContainer input[type='range']:focus{outline:none;}
.rangeContainer input[type=range]::-webkit-slider-runnable-track{width:100%;cursor:pointer;background:transparent;}
.rangeContainer input[type='range']::-webkit-slider-thumb{-webkit-appearance:none;position:relative;top:0;z-index:15;appearance:none;width:22px;height:22px;background:#fff;border:1px solid rgba(0,0,0,0.1);
	box-shadow:0 3px 5px rgba(0,0,0,0.07);border-radius:50%;cursor:pointer;z-index:3;}
.rangeContainer input[type='range']::-ms-track{width:100%;height:100%;cursor:pointer;background:transparent;border-color:transparent;color:transparent;}
.rangeContainer .range-track{position:absolute;top:0;left:0;z-index:0;width:100%;height:12px;border-radius:10px;background:#D6D6D6;}
.rangeContainer .range-track-fill{position:absolute;left:0;top:0;z-index:1;width:0;height:12px;border-radius:10px;background:var(--mainColor);}
.rangeContainer .range-label{display:flex;align-items:center;justify-content:center;justify-content:space-between;}
.rangeContainer .range-label span{text-align:center;width:30px;font-size:0.9em;font-weight:var(--bold);color:rgba(71,78,103,0.7);white-space:nowrap;}
.rangeContainer .range-label span:first-child{text-align:left;}
.rangeContainer .range-label span:last-child{text-align:right;}





/*──────────────── flex ────────────────*/
.flex{display:flex !important;align-items:flex-start;}
.inline-flex{display:inline-flex !important;}
.flex.column, .inline-flex.column{flex-direction:column !important;}
.flex-top{align-items:flex-start !important;}
.flex-middle{align-items:center !important;}
.flex-bottom{align-items:flex-end !important;}
.flex-left{justify-content:flex-start !important;}
.flex-center{justify-content:center !important;}
.flex-right{justify-content:flex-end !important;}
.flex-stretch{align-items:stretch !important;}
.flex1{flex:1;}
.flex > .left{margin-right:auto;}.flex > .right{margin-left:auto;}
.flex > .left{margin-right:auto;}.flex > .right{margin-left:auto;}
.item-top{align-self:start}.item-middle{align-self:center;}.item-bottom{align-self:end}.item-stretch{align-self:stretch}.item-left{margin-right:auto;}.item-right{margin-left:auto;}
.flexCenter{display:flex;align-items:center;justify-content:center;flex-direction:column;}
.flex.column > div{width:100%;}
.flex{gap:10px;}
.gap0{gap:0 !important;}.gap5{gap:5px !important;}.gap10{gap:10px !important;}.gap15{gap:15px !important;}.gap20{gap:20px !important;}
.gap25{gap:25px !important;}.gap30{gap:30px !important;}.gap35{gap:35px !important;}.gap40{gap:40px !important;}.gap45{gap:45px !important;}
.gap50{gap:50px !important;}.gap55{gap:55px !important;}.gap60{gap:60px !important;}.gap65{gap:65px !important;}.gap70{gap:70px !important;}
.gap75{gap:75px !important;}.gap80{gap:80px !important;}.gap85{gap:85px !important;}.gap90{gap:90px !important;}.gap95{gap:95px !important;}
.gap100{gap:100px !important;}
.flex.line{align-items:stretch;gap:45px;}
.flex.line > *:not(:first-child){padding-left:45px;border-left:1px solid rgba(0,0,0,0.1);}
.flex.line.gap5 > *:not(:first-child){padding-left:5px;}.flex.line.gap10 > *:not(:first-child){padding-left:10px;}.flex.line.gap15 > *:not(:first-child){padding-left:15px;}.flex.line.gap20 > *:not(:first-child){padding-left:20px;}
.flex.line.gap25 > *:not(:first-child){padding-left:25px;}.flex.line.gap30 > *:not(:first-child){padding-left:30px;}.flex.line.gap35 > *:not(:first-child){padding-left:35px;}.flex.line.gap40 > *:not(:first-child){padding-left:40px;}
.flex.line.gap45 > *:not(:first-child){padding-left:45px;}.flex.line.gap50 > *:not(:first-child){padding-left:50px;}.flex.line.gap55 > *:not(:first-child){padding-left:55px;}.flex.line.gap60 > *:not(:first-child){padding-left:60px;}
.flex.line.gap65 > *:not(:first-child){padding-left:65px;}.flex.line.gap70 > *:not(:first-child){padding-left:70px;}.flex.line.gap75 > *:not(:first-child){padding-left:75px;}.flex.line.gap80 > *:not(:first-child){padding-left:80px;}
.flex.line.gap85 > *:not(:first-child){padding-left:85px;}.flex.line.gap90 > *:not(:first-child){padding-left:90px;}.flex.line.gap95 > *:not(:first-child){padding-left:95px;}.flex.line.gap100 > *:not(:first-child){padding-left:100px;}
.flex.line.gap110 > *:not(:first-child){padding-left:110px;}.flex.line.gap120 > *:not(:first-child){padding-left:120px;}.flex.line.gap130 > *:not(:first-child){padding-left:130px;}




/*──────────────── Margin ────────────────*/
.mt0{margin-top:0 !important;}.ml0{margin-left:0 !important;}.mb5{margin-bottom:0 !important;}.mr0{margin-right:0 !important;}
.mt5{margin-top:5px !important;} .mt10{margin-top:10px !important;} .mt15{margin-top:15px !important;} .mt20{margin-top:20px !important;} .mt25{margin-top:25px !important;} .mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;} .mt40{margin-top:40px !important;} .mt45{margin-top:45px !important;} .mt50{margin-top:50px !important;} .mt55{margin-top:55px !important;} .mt60{margin-top:60px !important;}
.mt65{margin-top:65px !important;} .mt70{margin-top:70px !important;} .mt75{margin-top:75px !important;} .mt80{margin-top:80px !important;}
.mt85{margin-top:85px !important;} .mt90{margin-top:90px !important;} .mt95{margin-top:95px !important;} .mt100{margin-top:100px !important;}
.mr5{margin-right:5px !important;} .mr10{margin-right:10px !important;} .mr15{margin-right:15px !important;} .mr20{margin-right:20px !important;} .mr25{margin-right:25px !important;} .mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;} .mr40{margin-right:40px !important;} .mr45{margin-right:45px !important;} .mr50{margin-right:50px !important;} .mr55{margin-right:55px !important;} .mr60{margin-right:60px !important;}
.mr65{margin-right:65px !important;} .mr70{margin-right:70px !important;} .mr75{margin-right:75px !important;} .mr80{margin-right:80px !important;} .mr85{margin-right:85px !important;}
.mr90{margin-right:90px !important;} .mr95{margin-right:95px !important;} .mr100{margin-right:100px !important;}
.ml5{margin-left:5px !important;} .ml10{margin-left:10px !important;} .ml15{margin-left:15px !important;} .ml20{margin-left:20px !important;} .ml25{margin-left:25px !important;} .ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;} .ml40{margin-left:40px !important;} .ml45{margin-left:45px !important;} .ml50{margin-left:50px !important;} .ml55{margin-left:55px !important;} .ml60{margin-left:60px !important;}
.ml65{margin-left:65px !important;} .ml70{margin-left:70px !important;} .ml75{margin-left:75px !important;} .ml80{margin-left:80px !important;} .ml85{margin-left:85px !important;}
.ml90{margin-left:90px !important;} .ml95{margin-left:95px !important;} .ml100{margin-left:100px !important;}
.mb5{margin-bottom:5px !important;} .mb10{margin-bottom:10px !important;} .mb15{margin-bottom:15px !important;} .mb20{margin-bottom:20px !important;} .mb25{margin-bottom:25px !important;} .mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;} .mb40{margin-bottom:40px !important;} .mb45{margin-bottom:45px !important;} .mb50{margin-bottom:50px !important;} .mb55{margin-bottom:55px !important;} .mb60{margin-bottom:60px !important;}
.mb65{margin-bottom:65px !important;} .mb70{margin-bottom:70px !important;} .mb75{margin-bottom:75px !important;} .mb80{margin-bottom:80px !important;} .mb85{margin-bottom:85px !important;}
.mb90{margin-bottom:90px !important;} .mb95{margin-bottom:95px !important;} .mb100{margin-bottom:100px !important;}


/*──────────────── span :Width ────────────────*/
[class*="span"], [class^="span"]{position:relative;}
.span{width:100%;display:block;}
.span10{width:10px;} .span20{width:20px;} .span30{width:30px;} .span40{width:40px;} .span50{width:50px;} .span60{width:60px;} .span70{width:70px;} .span80{width:80px;} .span90{width:90px;}
.span100{width:100px;} .span110{width:110px;} .span120{width:120px;} .span130{width:130px;} .span140{width:140px;} .span150{width:150px;} .span160{width:160px;} .span170{width:170px;} .span180{width:180px;} .span190{width:190px;}
.span200{width:200px;} .span210{width:210px;} .span220{width:220px;} .span230{width:230px;} .span240{width:240px;} .span250{width:250px;} .span260{width:260px;} .span270{width:270px;} .span280{width:280px;} .span290{width:290px;}
.span300{width:300px;} .span310{width:310px;} .span320{width:320px;} .span330{width:330px;} .span340{width:340px;} .span350{width:350px;} .span360{width:360px;} .span370{width:370px;} .span380{width:380px;} .span390{width:390px;}
.span400{width:400px;} .span410{width:410px;} .span420{width:420px;} .span430{width:430px;} .span440{width:440px;} .span450{width:450px;} .span460{width:460px;} .span470{width:470px;} .span480{width:480px;} .span490{width:490px;}
.span500{width:500px;} .span510{width:510px;} .span520{width:520px;} .span530{width:530px;} .span540{width:540px;} .span550{width:550px;} .span560{width:560px;} .span570{width:570px;} .span580{width:580px;} .span590{width:590px;}
.span600{width:600px;} .span610{width:610px;} .span620{width:620px;} .span630{width:630px;} .span640{width:640px;} .span650{width:650px;} .span660{width:660px;} .span670{width:670px;} .span680{width:680px;} .span690{width:690px;}
.span700{width:700px;} .span710{width:710px;} .span720{width:720px;} .span730{width:730px;} .span740{width:740px;} .span750{width:750px;} .span760{width:760px;} .span770{width:770px;} .span780{width:780px;} .span790{width:790px;}
.span800{width:800px;} .span810{width:810px;} .span820{width:820px;} .span830{width:830px;} .span840{width:840px;} .span850{width:850px;} .span860{width:860px;} .span870{width:870px;} .span880{width:880px;} .span890{width:890px;}
.span900{width:900px;} .span910{width:910px;} .span920{width:920px;} .span930{width:930px;} .span940{width:940px;} .span950{width:950px;} .span960{width:960px;} .span970{width:970px;} .span980{width:980px;} .span990{width:990px;}
.span5{width:5px;} .span15{width:15px;} .span25{width:25px;} .span35{width:35px;} .span45{width:45px;} .span55{width:55px;} .span65{width:65px;} .span75{width:75px;} .span85{width:85px;} .span95{width:95px;}
.span105{width:105px;} .span115{width:115px;} .span125{width:125px;} .span135{width:135px;} .span145{width:145px;} .span155{width:155px;} .span165{width:165px;} .span175{width:175px;} .span185{width:185px;} .span195{width:195px;}
.span205{width:205px;} .span215{width:215px;} .span225{width:225px;} .span235{width:235px;} .span245{width:245px;} .span255{width:255px;} .span265{width:265px;} .span275{width:275px;} .span285{width:285px;} .span295{width:295px;}
.span305{width:305px;} .span315{width:315px;} .span325{width:325px;} .span335{width:335px;} .span345{width:345px;} .span355{width:355px;} .span365{width:365px;} .span375{width:375px;} .span385{width:385px;} .span395{width:395px;}
.span405{width:405px;} .span415{width:415px;} .span425{width:425px;} .span435{width:435px;} .span445{width:445px;} .span455{width:455px;} .span465{width:465px;} .span475{width:475px;} .span485{width:485px;} .span495{width:495px;}
.span505{width:505px;} .span515{width:515px;} .span525{width:525px;} .span535{width:535px;} .span545{width:545px;} .span555{width:555px;} .span565{width:565px;} .span575{width:575px;} .span585{width:585px;} .span595{width:595px;}
.span605{width:605px;} .span615{width:615px;} .span625{width:625px;} .span635{width:635px;} .span645{width:645px;} .span655{width:655px;} .span665{width:665px;} .span675{width:675px;} .span685{width:685px;} .span695{width:695px;}
.span705{width:705px;} .span715{width:715px;} .span725{width:725px;} .span735{width:735px;} .span745{width:745px;} .span755{width:755px;} .span765{width:765px;} .span775{width:775px;} .span785{width:785px;} .span795{width:795px;}
.span805{width:805px;} .span815{width:815px;} .span825{width:825px;} .span835{width:835px;} .span845{width:845px;} .span855{width:855px;} .span865{width:865px;} .span875{width:875px;} .span885{width:885px;} .span895{width:895px;}
.span905{width:905px;} .span915{width:915px;} .span925{width:925px;} .span935{width:935px;} .span945{width:945px;} .span955{width:955px;} .span965{width:965px;} .span975{width:975px;} .span985{width:985px;} .span995{width:995px;}


/*──────────────── padding ────────────────*/
.padding-l10{padding-left:10px !important;}.padding-l20{padding-left:20px !important;}.padding-l30{padding-left:30px !important;}.padding-l40{padding-left:40px !important;}.padding-l50{padding-left:50px !important;}
.padding-l60{padding-left:60px !important;}.padding-l70{padding-left:70px !important;}.padding-l80{padding-left:80px !important;}.padding-l90{padding-left:90px !important;}.padding-l100{padding-left:100px !important;}
.padding-l5{padding-left:5px !important;}.padding-l15{padding-left:15px !important;}.padding-l25{padding-left:25px !important;}.padding-l35{padding-left:35px !important;}.padding-l45{padding-left:45px !important;}
.padding-l55{padding-left:55px !important;}.padding-l65{padding-left:65px !important;}.padding-l75{padding-left:75px !important;}.padding-l85{padding-left:85px !important;}.padding-l95{padding-left:95px !important;}
.padding-l105{padding-left:105px !important;}.padding-l110{padding-left:110px !important;}
.padding-r10{padding-right:10px !important;}.padding-r20{padding-right:20px !important;}.padding-r30{padding-right:30px !important;}.padding-r40{padding-right:40px !important;}.padding-r50{padding-right:50px !important;}
.padding-r60{padding-right:60px !important;}.padding-r70{padding-right:70px !important;}.padding-r80{padding-right:80px !important;}.padding-r90{padding-right:90px !important;}.padding-r100{padding-right:100px !important;}
.padding-r5{padding-right:5px !important;}.padding-r15{padding-right:15px !important;}.padding-r25{padding-right:25px !important;}.padding-r35{padding-right:35px !important;}.padding-r45{padding-right:45px !important;}
.padding-r55{padding-right:55px !important;}.padding-r65{padding-right:65px !important;}.padding-r75{padding-right:75px !important;}.padding-r85{padding-right:85px !important;}.padding-r95{padding-right:95px !important;}
.padding-r105{padding-right:105px !important;}.padding-r110{padding-right:110px !important;}
.padding0{padding:0 !important;}
.padding10{padding:10px !important;}.padding15{padding:15px !important;}.padding20{padding:20px !important;}.padding25{padding:25px !important;}.padding30{padding:30px !important;}.padding35{padding:35px !important;}.padding40{padding:40px !important;}.padding45{padding:45px !important;}.padding50{padding:50px !important;}.padding55{padding:55px !important;}.padding60{padding:60px !important;}.padding65{padding:65px !important;}.padding70{padding:70px !important;}.padding75{padding:75px !important;}.padding80{padding:80px !important;}.padding85{padding:85px !important;}.padding90{padding:90px !important;}.padding95{padding:95px !important;}.padding100{padding:100px !important;}.padding105{padding:105px !important;}.padding110{padding:110px !important;}


/*──────────────── font-size ────────────────*/
.fs11{font-size:11px !important;}.fs12{font-size:12px !important;}.fs13{font-size:13px !important;}.fs14{font-size:14px !important;}.fs15{font-size:15px !important;}.fs16{font-size:16px !important;}.fs17{font-size:17px !important;}
.fs18{font-size:18px !important;}.fs19{font-size:19px !important;}.fs20{font-size:20px !important;}.fs21{font-size:21px !important;}.fs22{font-size:22px !important;}.fs23{font-size:23px !important;}.fs24{font-size:24px !important;}
.fs25{font-size:25px !important;}.fs26{font-size:26px !important;}.fs27{font-size:27px !important;}.fs28{font-size:28px !important;}.fs29{font-size:29px !important;}.fs30{font-size:30px !important;}.fs31{font-size:31px !important;}
.fs32{font-size:32px !important;}.fs33{font-size:33px !important;}.fs34{font-size:34px !important;}.fs35{font-size:35px !important;}.fs36{font-size:36px !important;}.fs37{font-size:37px !important;}.fs38{font-size:38px !important;}
.fs39{font-size:39px !important;}.fs40{font-size:40px !important;}.fs41{font-size:41px !important;}.fs42{font-size:42px !important;}.fs43{font-size:43px !important;}.fs44{font-size:44px !important;}.fs45{font-size:45px !important;}
.fs46{font-size:46px !important;}.fs47{font-size:47px !important;}.fs48{font-size:48px !important;}.fs49{font-size:49px !important;}.fs50{font-size:50px !important;}.fs51{font-size:51px !important;}.fs52{font-size:52px !important;}
.fs53{font-size:53px !important;}.fs54{font-size:54px !important;}.fs55{font-size:55px !important;}.fs56{font-size:56px !important;}.fs57{font-size:57px !important;}.fs58{font-size:58px !important;}.fs59{font-size:59px !important;}
.fs60{font-size:60px !important;}.fs70{font-size:70px !important;}.fs80{font-size:80px !important;}.fs90{font-size:90px !important;}.fs100{font-size:100px !important;}.fs110{font-size:110px !important;}


/*──────────────── line-height ────────────────*/
.line-height80{line-height:0.8em !important;}.line-height85{line-height:0.85em !important;}.line-height90{line-height:0.9em !important;}.line-height95{line-height:0.95em !important;}
.line-height100{line-height:1em !important;}.line-height110{line-height:1.1em !important;}.line-height120{line-height:1.2em !important;}.line-height130{line-height:1.3em !important;}
.line-height140{line-height:1.4em !important;}.line-height150{line-height:1.5em !important;}.line-height160{line-height:1.6em !important;}.line-height170{line-height:1.7em !important;}
.line-height180{line-height:1.8em !important;}.line-height190{line-height:1.9em !important;}.line-height200{line-height:2em !important;}.line-height115{line-height:1.15em !important;}
.line-height125{line-height:1.25em !important;}.line-height135{line-height:1.35em !important;}.line-height145{line-height:1.45em !important;}.line-height155{line-height:1.55em !important;}
.line-height165{line-height:1.65em !important;}.line-height175{line-height:1.75em !important;}.line-height185{line-height:1.85em !important;}.line-height195{line-height:1.95em !important;}